<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title -%></title>
  <link rel="stylesheet" type="text/css" href="http://fedoraproject.org/static/css/fedora.css" />
  <%= stylesheet_link_tag 'cloud/layout' %>
    <%= yield :scripts -%>
  </head>

  <body>
  <div id="wrapper">
    <div id="head">
    <h1><a href="#">The name of our project goes here</a></h1>
      <!-- Header stuff! -->
      <div id="login-box">
        Hi, <%= @user %>
        | <%= link_to 'Log out', { :controller => "/login", :action => "logout"}%>
         <%= link_to image_tag("Help_16.png"),
                {:controller => 'help', :action => @help_section, :anchor => @anchor},
                :id=>"help-link", :popup => true, :title => "Help" %>
      </div>
     </div>
     <div id="navcontainer">
        <ul class="navlist">
          <li>
            <%=
                link_to_unless(controller.controller_name == 'dashboard', "Dashboard", { :controller => 'cloud/dashboard' }) do |name|
                  link_to(name, { :controller => 'cloud/dashboard'}, :class => 'current')
                end
            %>
          </li>
          <li>
            <%=
                link_to_unless(controller.controller_name == 'instance', "Instances", { :controller => 'cloud/instance' }) do |name|
                  link_to(name, { :controller => 'cloud/instance'}, :class => 'current')
                end
            %>
          </li>
          <!-- Enable this once we have a profile view.
          <li>
            <%=
                link_to_unless(controller.controller_name == 'profile', "Profiles", { :controller => 'cloud/profile' }) do |name|
                  link_to(name, { :controller => 'cloud/profile'}, :class => 'current')
                end
            %>
          </li>-->
        </ul>
      </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
