%header.page-header
  .obj_actions
    .return_to
      =_('Return to:')
      = link_to "#{_('Providers')}", providers_path
  %h1.providers{:class => @provider.enabled ? 'enabled' : 'disabled'}= @provider.name.blank? ? _('Editing Provider') : @provider.name
