#providers_nav.grid_3.actionsidebar
  %dl
    %dt
      = t('providers.providers')
    - @providers.each do |provider|
      %dd
        - selected = 'selected' if @provider and (provider.id == @provider.id)
        %a{ :href => url_for(:controller => 'providers', :action => 'show', :id => provider), :class => selected }
          = provider.name
  = edit_button(@provider, controller.action_name)
  - form_tag({:controller => 'providers', :action => 'new'}, {:method => :get , :class => 'buttononly'}) do
    %input{ :type => 'submit', :value => t(:add), :disabled => ('disabled' unless controller.action_name == 'index') }
