#providers_nav.grid_3.actionsidebar
  %dl
    %dt
      = t('providers.providers')
    - @providers.each do |provider|
      %dd
        - selected = 'selected' if @provider and (provider.id == @provider.id)
        %a{ :href => url_for(:controller => 'providers', :action => 'show', :id => provider), :class => selected }
          = provider.name
  = edit_button(@provider, controller.action_name)
  - form_tag({:controller => 'providers', :action => 'new'}, {:method => :get , :class => 'buttononly'}) do
    %input{ :type => 'submit', :value => t(:add), :disabled => ('disabled' unless controller.action_name == 'index') }
  - form_tag({:controller => 'providers', :action => 'destroy', :id => @provider}, {:method => :delete , :class => 'buttononly'}) do
    = submit_tag 'delete', :disabled => ('disabled' unless @provider and controller.action_name == 'show')

:javascript
  $(document).ready( function () {
    $("a#edit_button").click(function (event) {
      event.preventDefault()
      if (!$(this).attr("disabled")) {
        $.get(($(this).attr("href")), function (response) {
          var form = $(response).find('#edit_dcloud_form')
          $("#show_dcloud").replaceWith(form)
          $('a.button').attr('disabled', true)
        });
      }
    })
  })
