%table
  %thead
    %tr
      %th.show
        Properties for
        = @provider.name
      %th.show
  %tbody
    %tr
      %td
        %label Provider name
      %td
        = @provider.name
    %tr
      %td
        %label Provider URL
      %td
        = @provider.url
    %tr
      %td
        %label Provider Type
      %td
        = @provider.provider_type.name
