%h3
  Properties for
  = @provider.name
= link_to "Edit", edit_provider_path(@provider), {:class => 'button'}
= link_to "Test", provider_path(@provider, {:test_provider => true}), { :class => 'button' }
