%header.page-header
  %h1{:class => controller.controller_name} Providers
  #obj_actions.button-group
    = link_to 'New Provider', new_provider_url, :class => 'button primary', :id => 'new_provider_button'
  .corner &nbsp;
