%h3
  Editing
  = @provider.name
  Provider

-form_for @provider, :url => provider_path(@provider), :html => { :method => :put } do |f|
  = render :partial => 'form', :locals => { :form => f, :cancel_path => providers_path }
