= render :partial => 'layouts/admin_nav'
= render :partial => 'section_header'

%section.admin-content-section.provider
  %header
    %h2
      Alerts
  .content
    unimplemented
%section.admin-content-section.provider
  %header
    %h2
      Activity
  .content
    unimplemented
%section.admin-content-section.provider
  %header
    %h2
      Settings
  .content
    -form_for @provider, :url => provider_path(@provider), :html => { :method => :put, :class => 'generic' } do |f|
      = render :partial => 'form', :locals => { :form => f }
