= render :partial => 'providers'
#details.grid_13
  %nav.subsubnav
    = render_navigation({:context => 'old', :level => 4})
    %br
    %table#show_dcloud
      %thead
        %tr
          %th{:scope => "col"} Provider Name
          %th{:scope => "col"} Provider URL
      %tbody
        %tr
          %td= @provider.name
          %td= @provider.url
