= render :partial => 'layouts/admin_nav'
= render :partial => 'section_header'

%section.admin-content-section.provider
  %header
    %h2 Properties

  .content
    %div#view
      = render :partial => 'properties'
