= render :partial => 'providers'
#details.grid_13
  %nav.subsubnav
    = render_navigation(:level => 4)
    %br
    %table
      %thead
        %tr
          %th{:scope => "col"} Provider Name
          %th{:scope => "col"} Provider URL
      %tbody
        %tr
          %td= @provider.name
          %td= @provider.url
