@import "grid";

$screenfont: "Liberation Sans", "Droid Sans", Helvetica, Arial, sans-serif;
/* $headlinefont: "Roadgeek E", Interstate, sans-serif; */
$headlinefont: "FreeWay Bold", FreeWay, Interstate, sans-serif;

/* colors */
$dcprimary: #1E74BB;
$headerbg: #0B3559;
$formheadbg: #eee;
$formheadfg: #333;

$footerbg: #f3f3f3;
$strokecl: #ddd;
$errorcl: #cb292b;
$warningcl: #f6a20a;

$operationbg: #00a5dd;
$administrationbg: #a7b40a;
$buildbg: #fbaa5e;
$runtimebg: #d83e40;

$headercl: #333;

$goodcl: #bfcc29;
$okcl: orange;
$badcl: red;

@import "text";

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($x,$y,$blur,$color) {
  box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
}

@mixin inset-box-shadow($x,$y,$blur,$color) {
  box-shadow: inset $x $y $blur $color;
  -moz-box-shadow: inset $x $y $blur $color;
  -webkit-box-shadow: inset $x $y $blur $color;
}

@mixin no-box-shadow {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

@mixin text-shadow($x,$y,$blur,$color) {
  text-shadow: $x $y $blur $color;
  -moz-text-shadow: $x $y $blur $color;
  -webkit-text-shadow: $x $y $blur $color;
}

@mixin column-count($c) {
  -moz-column-count: $c;
  -o-column-count: $c;
  -webkit-column-count: $c;
  column-count: $c;
}

@mixin column-gap($g) {
  -moz-column-gap: $g;
  -o-column-gap: $g;
  -webkit-column-gap: $g;
  column-gap: $g;
}

@mixin column-break-before($break) {
  -moz-column-break-before: $break;
  -webkit-column-break-before: $break;
  -o-column-break-before: $break;
  column-break-before: $break;
}
