@font-face {
  font-family: 'Overpass';
  src: url("../../fonts/overpass_regular-web.eot");
  src: local("Overpass"), url("../../fonts/overpass_regular-web.eot?#iefix") format("eot"), url("../../fonts/overpass_regular-web.woff") format("woff"), url("../../fonts/overpass_regular-web.ttf") format("truetype"), url("../../fonts/overpass_regular-web.svg#webfontLTZe4IYH") format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: 'Overpass';
  src: url("../../fonts/overpass_bold-web.eot");
  src: local("Overpass Bold"), local("Overpass-Bold"), url("../../fonts/overpass_bold-web.eot?#iefix") format("eot"), url("../../fonts/overpass_bold-web.woff") format("woff"), url("../../fonts/overpass_bold-web.ttf") format("truetype"), url("../../fonts/overpass_bold-web.svg#webfontzAU82Ltw") format("svg");
  font-weight: bold;
  font-style: normal; }

$font-family-base: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-em: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-primary: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
