/* Adapted normalization */

.hidden {
  display: none;
}

header#header {
  height:60px;

  img.upstream_logo{ margin: 20px 0px 0px 30px; }

  #appnav {left:388px;}

  #widget-container {
    top:27px;

  	#usermenu {
  	list-style:none;
  	  li {
  		  background-color: rgba(25, 25, 30, 0.4);
  		  border:.2em solid rgba(205, 206, 208, 0.4);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        color:#fff;
  		  display:inline;
  		  list-style:none;
  		  margin-right:.8em;
  		  padding:0 .8em;
    	  &:last-child {margin-right:auto;}
    	  a {color:#fff;text-decoration:none;}
  	  }
  	}
  }
}
