@import "base";
/* header style */

.header_logo {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #b5b5b5;
  span {
    text-transform: uppercase;
    margin-left: 5px;
    font-weight: bold;
    letter-spacing: -0.02em;
  }
}

ul.nav {
  padding: 0;
  padding-top: 1em;
  margin: 0;
  white-space: nowrap;
  list-style-type: none;
  li {
    display: inline;
    font-size: 120%;
    padding: 3px 15px;
    color: #b3b3b3;
    a {
      color: #313a3d;
      text-shadow: 0 1px 1px white;
    }
    &.selected {
      background: #cbd6db !important;
      @include border-radius(16px);
      -moz-box-shadow: 0 1px 1px #efefef;
    }
    &:hover {
      background: #dedede;
      @include border-radius(16px);
    }
  }
}

.header_menu_wrapper {
  padding: 0;
  margin: 35px 0 0 0;
  float: left;
  height: 35px;
  width: 230px;
  background: #cccccc;
}

.header_menu {
  padding: 5px 0 0 10px;
  margin: 1px;
  background: #cccccc url(/images/bg_navtoolbar.png) repeat-x top;
  font-size: 110%;
  line-height: 1.5;
  height: 26px;
  width: 216px;
  border: white solid 1px;
}

.header_menu_greybox {
  padding: 0;
  margin: 35px 0 0 0;
  float: left;
  height: 35px;
  width: 230px;
  background: #cccccc;
}

#hi-username {
  margin-right: 15px;
  float: left;
}

/* dashboard style */

.dashboard_column {
  float: left;
  width: 50%;
}

.dashboard_section_summary {
  background: #f2f2f2;
  font-size: 0.8em;
  font-weight: bolder;
  margin: 10px 0;
  padding: 5px 0px 5px 5px;
  p {
    display: inline;
    float: left;
    margin: 3px 0 3px 0;
  }
  img {
    &:first-child {
      padding-right: 5px;
    }
    vertical-align: middle;
    float: right;
  }
}

#getting_started_dashboard_section {
  background: #f2f2f2;
  width: 850px;
  font-size: 0.9em;
  padding: 10px;
  margin: 10px 0px 10px 5px;
  border: 1px solid black;
  @include border-radius(5px);
  p {
    padding-bottom: 5px;
  }
  ul {
    width: 100%;
    height: 120px;
    padding-left: 7px;
    li {
      display: inline;
      float: left;
      width: 205px;
      padding: 0 7px 0 10px;
      border-right: 1px solid black;
      &:last-child {
        border-right: none;
        width: 150px;
      }
    }
  }
  img {
    height: 91px;
  }
}

#getting_started_links a {
  float: right;
}

#actions_dashboard_section {
  height: 100px;
  border: 1px solid #dddddd;
  padding: 15px;
  margin: 5px 15px 15px 0px;
  @include border-radius(5px);
  -moz-box-shadow: 0 1px 3px #cccccc;
  h2 {
    padding: 0;
    margin: 0 0 15px;
    letter-spacing: -0.02em;
    color: #4b5d63;
  }
  a {
    display: block;
    float: left;
    margin: 0px 15px 5px 0px;
    color: #0075c0;
    text-decoration: underline;
  }
}

#service_quality_dashboard_section {
  border: 1px solid #dddddd;
  padding: 15px;
  margin: 0 15px 15px 0px;
  @include border-radius(5px);
  -moz-box-shadow: 0 1px 3px #cccccc;
  h2 {
    padding: 0;
    margin: 0 0 15px;
    letter-spacing: -0.02em;
    color: #4b5d63;
  }
}

.provider_service_quality_graph {
  width: 100px;
  height: 50px;
  float: left;
  margin: 0px 5px 0px 5px;
}

.provider_service_quality_graph_summary {
  float: left;
  width: 60px;
  height: 15px;
  padding: 20px 0 24px 0;
}

#key_indicators_dashboard_section {
  height: 220px;
  border: 1px solid #dddddd;
  padding: 15px;
  margin: 0 15px 15px 0px;
  @include border-radius(5px);
  -moz-box-shadow: 0 1px 3px #cccccc;
  h2 {
    padding: 0;
    margin: 0 0 15px;
    letter-spacing: -0.02em;
    color: #4b5d63;
  }
  ul {
    float: left !important;
    width: 195px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      width: 80%;
      margin: 0;
      padding-bottom: 10px;
    }
  }
  .count {
    float: right;
  }
  .instance_graph {
    float: left;
  }
}

#provider_instances_graph {
  width: 250px;
  float: left;
}

#quota_usage_dashboard_section {
  border: 1px solid #dddddd;
  padding: 15px;
  margin: 5px 15px 15px 0px;
  @include border-radius(5px);
  -moz-box-shadow: 0 1px 3px #cccccc;
  h2 {
    padding: 0;
    margin: 0 0 15px;
    letter-spacing: -0.02em;
    color: #4b5d63;
  }
}

.account_quota_usage_graph_summary {
  padding: 15px 15px;
  display: inline;
  float: left;
  width: 45%;
}

.account_quota_usage_graph_key {
  float: right;
  vertical-align: top;
  font-size: 0.8em;
  text-align: right;
  width: 100%;
  height: 20px;
  padding: 0 15px 0 0;
}

.account_quota_usage_history_graph {
  display: inline;
  float: left;
  margin-left: 10px;
  border: 1px solid black;
  width: 120px;
  height: 20px;
}

.account_quota_usage_current_graph {
  display: inline;
  float: left;
  margin: 0 0 10px 10px;
  width: 140px;
  height: 50px;
}

.pool_quota_usage_summary {
  display: inline;
  float: left;
  padding-left: 15px;
  width: 15%;
}

.pool_quota_usage_limit {
  display: inline;
  float: left;
  width: 33%;
  height: 25px;
  border: 1px solid black;
  margin-left: 17px;
}

.pool_quota_usage_instances {
  display: inline;
  float: left;
  width: 33%;
  height: 25px;
  border: 1px solid black;
  margin-left: 17px;
  margin-bottom: 15px;
}

#image_descriptor_nav {
  margin: 2px 0px 0 0px;
  width: 98%;
  h2 {
    height: 29px;
    font-weight: normal;
    padding: 10px 10px 0px 10px;
    margin: 0px;
  }
  ul {
    margin: 20px;
    width: 100%;
    li {
      display: inline;
      float: left;
      width: 200px;
      border: 1px solid #cccccc;
      border-top: none;
      border-right: none;
      padding-left: 10px;
      clear: none;
      font-size: 1em;
      h4 {
          margin-top: 0px;
          margin-bottom: 0.5em;
      }
      p {
        margin-top: 0;
        margin-bottom: 2em;
        color: gray;
      }
      &.selected p {
        color: black;
      }
    }
  }
}

#image_descriptor_form {
  border: none;
  padding: 1em 0;
  background: none;
  width: 800px;
  margin: 20px;
  display: inline-block;
  input {
    width: auto;
  }
  ul li {
    textarea, select, input[type=text] {
      width: 302px;
      float: left;
      border-top: 1px solid #7f7f7f;
      background: white;
      border-bottom: 1px solid #7f7f7f;
      border-left: 1px solid black;
      border-right: 1px solid black;
      @include border-radius(4px);
    }
  }
  .description {
    float: left;
    width: 300px;
    font-size: 95%;
    padding-left: 1em;
    padding-bottom: 20px;
  }
  label {
    color: black;
    font-size: 90%;
    font-weight: bold;
    &.plain {
      font-weight: normal;
    }
  }
  .pkglist {
    float: left;
    width: 380px;
    height: 300px;
    overflow: auto;
    background-color: white;
    border: 2px solid #cccccc;
    @include border-radius(6px);
  }
  .submit {
    padding-top: 20px;
  }
  .pkglist .action_link {
    float: right;
    width: 60px !important;
    color: blue;
  }
  .closed_folder {
    background-image: url(/images/dir_closed.png);
    background-repeat: no-repeat;
  }
  .opened_folder {
    background-image: url(/images/dir_open.png);
    background-repeat: no-repeat;
  }
  .groupname {
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  .selection_list > li {
    padding-bottom: 10px;
  }
  .group, .groupkgs {
    padding-left: 20px;
  }
  .pkglist .ui-tabs {
    padding: 0;
    .ui-tabs-panel {
      padding: 1em 0.5em;
    }
  }
  .left-pkglist .ui-widget-header {
    height: 26px;
    padding: 10px;
  }
  .pkglist {
    ul.ui-tabs-nav {
      background-color: white;
      width: 379px;
      height: 44px;
    }
    .select_repository {
      float: right;
      padding: 5px 0px 5px 0px;
      select {
        width: 150px;
      }
    }
  }
  .selection_list {
    padding: 10px;
  }
  .side_panel {
    width: 150px;
    float: left;
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 10px;
    min-height: 300px;
    label {
      float: none;
      font-size: 1em;
      padding: 5px;
    }
    li {
      padding-bottom: 20px;
    }
  }
  .main_panel {
    width: 580px;
    float: left;
    border: 1px solid #cccccc;
    margin: 5px;
    min-height: 300px;
    padding: 10px;
    .image_build_panel {
      border-bottom: 1px solid #cccccc;
      padding: 10px;
      input {
        font-size: 1em;
      }
    }
  }
  .expand_target_list_button {
    float: right;
    display: none;
  }
  .target_list {
    li {
      border: 1px solid #cccccc;
      margin: 20px;
      padding: 5px;
      .status, .actions {
        float: right;
        width: 100px;
      }
    }
    .empty {
      text-align: center;
      padding: 30px;
    }
  }
}
