#user-menu.nojs a {
  margin-left: 1em;
}

#user-menu.js {
  position: fixed;
  width: 100px;
  height: 30px;
  background: white;
  display: none;
  border: 2px solid #E7E7E7;
  padding: 0.5em;

  a {
    display: block;
  }
}

/*fixes the button_to helper used in button-group problem*/
.button-group .button_to div{display: inline;}
.button-group .button_to div .button.pill{
  -webkit-border-radius: 0em 50em;
  -moz-border-radius: 0em 50em 50em 0em;
  border-radius: 0em 50em 50em 0em;
}

.deployable_details {
  color: #606060;
  position: relative;
  max-width: 500px;
  margin: auto;
  background: url(../../images/launch-deployment-icon.png) no-repeat right 75%;

  header.confirmation {
    background-image: none;
    margin-bottom: 3em;

    h2 {
      font-size: 28px;
      font-weight: normal;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
    }
    p {
      text-align: center;
      font-size: 13px;
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  h3 {
    margin-top: 1em;
  }

  .content {
    max-width: 280px;

    li {
      list-style-type: none;
      margin-top: 4px;
    }
  }

  .image-id {
    font-family: Inconsolata, Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', monospace;
    font-size: 11px;
  }

}

#deployable-xml-link {
  color: #666;
}

#action-buttons {
  margin: auto;
  width: 300px;
  margin-top: 3em;
  margin-bottom: 3em;
}

#launch_deployment {
  background: url(../../images/launch-button.png) no-repeat center;
  width: 147px;
  height: 54px;

  // Hide the text visually but keep it available for screen readers and such
  text-indent: -3000px;
  white-space: nowrap;
  overflow: hidden;
}

.pool_details {
  color: #333;
  text-decoration: none;
}

.loading_tabs {
  height: 30px;
  display:block;
  background: url(../../images/loading.gif) no-repeat center;
}

/*enhance height of deployment array because of uptimes to fit*/
ul.deployment-array.small li.deployment {
  height: 90px;
}

.hidden {
  display: none;
}


.launch-time-params h2 {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

$services_width: 250px;
$services_border: 1px solid #b0b0b0;
$services_background: #efefef;

form.generic section.services {
  position: relative;
  border: $services_border;
  margin: 1em;
  padding: 0 0 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  min-height: 300px;
  background: $services_background;
  overflow: hidden;


  h4.service {
    font-size: 14px;
    font-weight: normal;
    position: relative;
    z-index: 1;
    $left_padding: 26px;
    padding: 0.5em 0 0.5em $left_padding;
    width: $services_width - $left_padding + 1px;
    border-bottom: 1px solid transparent;

    &:hover {
      background: darken($services_background, 20%);
      cursor: pointer;
    }
    &.selected {
      background: $services_background;
      border-bottom: $services_border;
      cursor: default;
    }
    &.filled-out {
      background-image: url('../../images/filled_out_params_indicator.png');
      background-repeat: no-repeat;
      background-position: 8px center;
    }
  }

  .parameters {
    display: none;
    position: absolute;
    top: 88px;
    left: $services_width;
    padding: 1em;
  }

  #service-headers {
    position: absolute;
    z-index: 0;
    background: transparent url('../../images/services_bg.png') repeat top center;
    top: 0;
    left: 0;
    height: 100%;
    border-right: $services_border;
    width: $services_width;

    $left-corners: 1em 0 0 1em;
    -webkit-border-radius: $left-corners;
    -moz-border-radius: $left-corners;
    border-radius: $left-corners;
  }


  header {
    background-image: none;
    background: #dddddd;
    margin-left: $services_width;
    padding: 1em;
    height: 40px;

    $topright-corner: 0 1em 0 0;
    -webkit-border-radius: $topright-corner;
    -moz-border-radius: $topright-corner;
    border-radius: $topright-corner;

    h3 {
      font-size: 22px;
      font-weight: normal;
    }
  }

  label {
    display: block;
    float: left;
    min-width: 120px;
    text-align: right;
    padding: 6px 7px 5px 0px;
    font-size: 14px;
    text-shadow: 0px 1px 0px #ffffff;
    font-weight: normal;
  }
}
