#admin_subsections {
  height: 2em;
  display: block;
}
#admin_subsections li {
  list-style-type: none;
  float: left;
  margin-right: 1em;
}
#admin_subsections li.selected {
  font-weight: bold;
}
#admin_subsections a {
  color: blue;
}

#user-menu.nojs a {
  margin-left: 1em;
}

#user-menu.js {
  position: fixed;
  width: 100px;
  height: 30px;
  background: white;
  display: none;
  border: 2px solid #E7E7E7;
  padding: 0.5em;

  a {
    display: block;
  }
}
