header.admin-page-header .roundbutton{
  background: #cccccc;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 3px 10px;
  -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px;

  &.green{
    background: green;
  }
}

#user-menu.nojs a {
  margin-left: 1em;
}

#user-menu.js {
  position: fixed;
  width: 100px;
  height: 30px;
  background: white;
  display: none;
  border: 2px solid #E7E7E7;
  padding: 0.5em;

  a {
    display: block;
  }
}

/*fixes the button_to helper used in button-group problem*/
.button-group .button-to div{display: inline;}
.button-group .button-to div .button.pill{
  -webkit-border-radius: 0em 50em;
  -moz-border-radius: 0em 50em 50em 0em;
  border-radius: 0em 50em 50em 0em;
}

.deployable_details .content li {
  list-style-type: none;
}

#deployable-xml-link {
  color: #666;
}

.pool_details {
  color: #333;
  text-decoration: none;
}

.loading_tabs {
  height: 30px;
  display:block;
  background: url(../../images/loading.gif) no-repeat center;
}

/*enhance height of deployment array because of uptimes to fit*/
ul.deployment-array.small li.deployment {
  height: 90px;
}
