@charset "UTF-8";

html {
  font-size: small;
  min-width: 900px;
  min-height: 400px;
}

body {
  font-family: "Lucida Grande", "Luxi Sans", "Bitstream Vera Sans", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  font-size: 90%;
}

img {
  border-style: none;
}

a {
  color: black;
  text-decoration: none;
}

h2, h3 {
  font-weight: normal;
}

#header {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  overflow: hidden;
  background: #535353 url(/images/bg_header.png) repeat-x top;
}

#content {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  background-color: white;
}

#side {
  padding: 5px 0 0 5px;
  float: left;
  margin: 0;
  top: 70px;
  left: 0px;
  height: 100%;
  overflow: auto;
  width: 224px;
  background-color: white;
  border-right: 1px #cccccc solid;
  h3 {
    color: #999999;
    font-size: 1em;
    margin: 1em 1em 0.5em 1em;
    text-transform: uppercase;
  }
}

#main {
  padding: 0;
  margin-left: 0;
  top: 70px;
  bottom: 0px;
  overflow: auto;
  background-color: white;
  border-left: #cccccc solid 0px;
}

/*  ----- Right side of Header -------- */

.header_info {
  padding: 10px 31px 0px 10px;
  margin: 0;
  float: right;
  text-align: right;
  font-size: 100%;
  color: #b5b5b5;
  a {
    font-weight: bold;
    &:link, &:active, &:visited, &:hover {
      color: black;
      text-decoration: none;
    }
  }
}

#textfield_effect {
  border-width: 1px;
  border-style: solid;
  border-color: #7a7a7a;
  padding-left: 5px;
  background: #4a4a4a;
  font-size: 100%;
  color: white;
  width: 100px;
  height: 16px;
}

/*  ----- Blue Tabbed Navigation -------- */

.ui-tabs-nav {
  margin: 0;
  padding: 0;
  background: none;
  list-style-type: none;
  float: left;
  font-size: 110%;
  li {
    margin: 0 1px 0 1px;
    padding: 0;
    float: left;
  }
  a {
    float: left;
    padding: 0 15px 0 15px;
    color: #cccccc;
    text-decoration: none;
    line-height: 2.3;
    height: 24px;
    text-align: center;
    background: none;
    &:hover {
      color: white;
      border-bottom: 5px solid #537585;
    }
    &:focus, &:active {
      outline-style: none;
    }
  }
}

.ui-tabs-selected a {
  color: white;
  outline-style: none;
  height: 24px;
  line-height: 1.6;
  border-bottom: 5px solid #5599b8;
}

.ui-tabs-hide {
  /*display:none; */
}

/*  ----- PopUp Dialog -------- */

.dialog_title {
  background: #dee7eb;
  padding: 15px;
  width: 600px;
}

.dialog_title_small {
  background: #dee7eb;
  padding: 15px;
  min-width: 500px;
}

.header {
  font-size: 180%;
  line-height: 1.6;
}

.dialog_body {
  overflow: auto;
  height: 350px;
}

.confirm_dialog_title {
  width: 400px;
  padding: 15px;
  font-size: 110%;
  background: url(/images/bg_warningMessage.png) top repeat-x;
}

.confirm_dialog_header {
  background: url(/images/icon_warning.png) top left no-repeat;
  padding: 0 0 0 45px;
  min-height: 36px;
}

.confirm_dialog_footer {
  height: 37px;
  text-align: right;
  padding: 5px 9px 0 0;
}

.button {
  padding: 0 0 0 2px;
  float: right;
}

.button_left_blue {
  background: url(/images/button_left.png) no-repeat;
  width: 6px;
  height: 29px;
  float: left;
}

.button_middle_blue {
  background: url(/images/button_middle.png) repeat-x;
  height: 29px;
  float: left;
  color: white;
  line-height: 2.3;
  font-size: 105%;
  display: block;
}

.button_right_blue {
  background: url(/images/button_right.png) no-repeat;
  width: 6px;
  height: 29px;
  float: left;
}

.button_middle_blue a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0 10px 0 10px;
  &:hover {
    color: #e7eff6;
    text-decoration: none;
    padding: 0 10px 0 10px;
  }
}

.button_left_grey {
  background: url(/images/button_left_grey.png) no-repeat;
  width: 6px;
  height: 29px;
  float: left;
}

.button_middle_grey {
  background: url(/images/button_middle_grey.png) repeat-x;
  height: 29px;
  float: left;
  color: white;
  line-height: 2.3;
  font-size: 105%;
  display: block;
}

.button_right_grey {
  background: url(/images/button_right_grey.png) no-repeat;
  width: 6px;
  height: 29px;
  float: left;
}

.button_middle_grey a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0 10px 0 10px;
  &:hover {
    color: #e7eff6;
    text-decoration: none;
    padding: 0 10px 0 10px;
  }
}

.fieldWithErrors {
  background-color: #ffb2b2;
  border: 3px solid #ffb2b2;
}

.errorExplanation {
  color: #333333;
  padding: 2px;
}
