/* ###########################################################################
Generated SCSS for Aeolus UI [aeolus_ui]
Compiled on Wed Jul 13 12:26:53 -0700 2011
########################################################################### */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Page Layout -- v.0.0.2 [layout] (reset.css)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}

b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

li {
/*
  For IE6 + IE7.
*/
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

svg {
/*
  For IE9.
*/
  overflow: hidden;
}

form{
  display: inline;
}


/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom: 1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Page Layout -- v.0.0.2 [layout] (layout.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$width: 960px;
$font-family-base: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-em: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-primary: Helvetica, Arial, "Lucida Grande", sans-serif;

/* body */

html, body{ height: 100%; }

body{
  background: url('../../images/body-bg.png');
  font-family: $font-family-base;
  font-size: 12px; /* 12px base */
  color: #333;
}

strong, em, b, i{ font-family: $font-family-em; }

#primary-container{
  position: relative;
  min-height: 100%;
  display: block;
}

/* Content */

$contentpadding: 7px;

div#content{
  width: $width - (2 * $contentpadding);
  margin: 0 auto;
  margin-bottom: 98px;
  min-height: 200px;
  -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;
  background-color: #FAFAFA;
  padding: $contentpadding;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.50);
  -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.50);
  -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.50);
  border: 1px solid #999;
  position: relative;
  z-index: 100;

  div.header{
    background-color: #ccc;
    height: 60px;
  }

}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Page Layout -- v.0.0.2 [layout] (layout_ie.css)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Application Button Set -- v.0.0.1 [button] (button.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ------------------------------------------
CSS3 GITHUB BUTTONS (Nicolas Gallagher)
Licensed under Unlicense
http://github.com/necolas/css3-github-buttons
------------------------------------------ */


/* ----------------------------------------------------------------- BUTTON */

.button {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    /*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.button:hover,
.button:focus,
.button:active,
.button.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3C8DDE;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.button:active,
.button.active {
    border-color: #2a65a0;
    border-bottom-color: #3884CF;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* ------------------------------------------------------------------ Icons */

.button.icon:before {
    content: "";
    position: relative;
    top: 1px;
    float:left;
    width: 12px;
    height: 12px;
    margin: 0 0.75em 0 -0.25em;
    background: url(../../images/button-icons.png) 0 99px no-repeat;
}

.button.arrowup.icon:before { background-position: 0 0; }
.button.arrowup.icon:hover:before,
.button.arrowup.icon:focus:before,
.button.arrowup.icon:active:before { background-position: -12px 0; }

.button.arrowdown.icon:before { background-position: 0 -12px; }
.button.arrowdown.icon:hover:before,
.button.arrowdown.icon:focus:before,
.button.arrowdown.icon:active:before { background-position: -12px -12px; }

.button.arrowleft.icon:before { background-position: 0 -24px; }
.button.arrowleft.icon:hover:before,
.button.arrowleft.icon:focus:before,
.button.arrowleft.icon:active:before { background-position: -12px -24px; }

.button.arrowright.icon:before { float:right; margin: 0 -0.25em 0 0.5em; background-position: 0 -36px; }
.button.arrowright.icon:hover:before,
.button.arrowright.icon:focus:before,
.button.arrowright.icon:active:before { background-position: -12px -36px; }

.button.approve.icon:before { background-position: 0 -48px; }
.button.approve.icon:hover:before,
.button.approve.icon:focus:before,
.button.approve.icon:active:before { background-position: -12px -48px; }

.button.add.icon:before { background-position: 0 -288px; }
.button.add.icon:hover:before,
.button.add.icon:focus:before,
.button.add.icon:active:before { background-position: -12px -288px; }

.button.remove.icon:before { background-position: 0 -60px; }
.button.remove.icon:hover:before,
.button.remove.icon:focus:before,
.button.remove.icon:active:before { background-position: -12px -60px; }

.button.log.icon:before { background-position: 0 -72px; }
.button.log.icon:hover:before,
.button.log.icon:focus:before,
.button.log.icon:active:before { background-position: -12px -72px; }

.button.calendar.icon:before { background-position: 0 -84px; }
.button.calendar.icon:hover:before,
.button.calendar.icon:focus:before,
.button.calendar.icon:active:before { background-position: -12px -84px; }

.button.chat.icon:before { background-position: 0 -96px; }
.button.chat.icon:hover:before,
.button.chat.icon:focus:before,
.button.chat.icon:active:before { background-position: -12px -96px; }

.button.clock.icon:before { background-position: 0 -108px; }
.button.clock.icon:hover:before,
.button.clock.icon:focus:before,
.button.clock.icon:active:before { background-position: -12px -108px; }

.button.settings.icon:before { background-position: 0 -120px; }
.button.settings.icon:hover:before,
.button.settings.icon:focus:before,
.button.settings.icon:active:before { background-position: -12px -120px; }

.button.comment.icon:before { background-position: 0 -132px; }
.button.comment.icon:hover:before,
.button.comment.icon:focus:before,
.button.comment.icon:active:before { background-position: -12px -132px; }

.button.fork.icon:before { background-position: 0 -144px; }
.button.fork.icon:hover:before,
.button.fork.icon:focus:before,
.button.fork.icon:active:before { background-position: -12px -144px; }

.button.like.icon:before { background-position: 0 -156px; }
.button.like.icon:hover:before,
.button.like.icon:focus:before,
.button.like.icon:active:before { background-position: -12px -156px; }

.button.favorite.icon:before { background-position: 0 -348px; }
.button.favorite.icon:hover:before,
.button.favorite.icon:focus:before,
.button.favorite.icon:active:before { background-position: -12px -348px; }

.button.home.icon:before { background-position: 0 -168px; }
.button.home.icon:hover:before,
.button.home.icon:focus:before,
.button.home.icon:active:before { background-position: -12px -168px; }

.button.key.icon:before { background-position: 0 -180px; }
.button.key.icon:hover:before,
.button.key.icon:focus:before,
.button.key.icon:active:before { background-position: -12px -180px; }

.button.lock.icon:before { background-position: 0 -192px; }
.button.lock.icon:hover:before,
.button.lock.icon:focus:before,
.button.lock.icon:active:before { background-position: -12px -192px; }

.button.unlock.icon:before { background-position: 0 -204px; }
.button.unlock.icon:hover:before,
.button.unlock.icon:focus:before,
.button.unlock.icon:active:before { background-position: -12px -204px; }

.button.loop.icon:before { background-position: 0 -216px; }
.button.loop.icon:hover:before,
.button.loop.icon:focus:before,
.button.loop.icon:active:before { background-position: -12px -216px; }

.button.search.icon:before { background-position: 0 -228px; }
.button.search.icon:hover:before,
.button.search.icon:focus:before,
.button.search.icon:active:before { background-position: -12px -228px; }

.button.mail.icon:before { background-position: 0 -240px; }
.button.mail.icon:hover:before,
.button.mail.icon:focus:before,
.button.mail.icon:active:before { background-position: -12px -240px; }

.button.move.icon:before { background-position: 0 -252px; }
.button.move.icon:hover:before,
.button.move.icon:focus:before,
.button.move.icon:active:before { background-position: -12px -252px; }

.button.edit.icon:before { background-position: 0 -264px; }
.button.edit.icon:hover:before,
.button.edit.icon:focus:before,
.button.edit.icon:active:before { background-position: -12px -264px; }

.button.pin.icon:before { background-position: 0 -276px; }
.button.pin.icon:hover:before,
.button.pin.icon:focus:before,
.button.pin.icon:active:before { background-position: -12px -276px; }

.button.reload.icon:before { background-position: 0 -300px; }
.button.reload.icon:hover:before,
.button.reload.icon:focus:before,
.button.reload.icon:active:before { background-position: -12px -300px; }

.button.rss.icon:before { background-position: 0 -312px; }
.button.rss.icon:hover:before,
.button.rss.icon:focus:before,
.button.rss.icon:active:before { background-position: -12px -312px; }

.button.tag.icon:before { background-position: 0 -324px; }
.button.tag.icon:hover:before,
.button.tag.icon:focus:before,
.button.tag.icon:active:before { background-position: -12px -324px; }

.button.trash.icon:before { background-position: 0 -336px; }
.button.trash.icon:hover:before,
.button.trash.icon:focus:before,
.button.trash.icon:active:before { background-position: -12px -336px; }

.button.user.icon:before { background-position: 0 -360px; }
.button.user.icon:hover:before,
.button.user.icon:focus:before,
.button.user.icon:active:before { background-position: -12px -360px; }


/* ------------------------------------------------------ BUTTON EXTENSIONS */

/* ---------------------------------------------------------------- Primary */

.button.primary {
    font-weight: bold;
}

/* ----------------------------------------------------------------- Danger */

.button.danger {
    color: #900;
}

.button.danger:hover,
.button.danger:focus,
.button.danger:active {
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff;
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}

.button.danger:active,
.button.danger.active {
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    background-color: #b33630;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
    background-image: -moz-linear-gradient(#b33630, #dc5f59);
    background-image: -o-linear-gradient(#b33630, #dc5f59);
    background-image: linear-gradient(#b33630, #dc5f59);
}

/* ------------------------------------------------------------------- Pill */

.button.pill {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
}

/* ---------------------------------------------------------------- Disable */

.button.disable {
    opacity: 0.5;
}

/* -------------------------------------------------------------------- Big */

.button.big {
    font-size: 14px;
}

.button.big.icon:before { top: 0; }


/* ---------------------------------------------------------- BUTTON GROUPS */

/* --------------------------------------------------------------- Standard */

.button-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.button + .button,
.button + .button-group,
.button-group + .button,
.button-group + .button-group {
    margin-left: 15px;
}

.button-group li {
    float: left;
    padding: 0;
    margin: 0;
}

.button-group .button {
    float: left;
    margin-left: -1px;
}

.button-group > .button:not(:first-child):not(:last-child),
.button-group li:not(:first-child):not(:last-child) .button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.button-group > .button:first-child,
.button-group li:first-child .button {
    margin-left: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-group > .button:last-child,
.button-group li:last-child > .button {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* ------------------------------------------------------------------ Minor */

.button-group.minor-group .button {
    border: 1px solid #d4d4d4;
    text-shadow: none;
    background-image: none;
    background-color: #fff;
}

.button-group.minor-group .button:hover,
.button-group.minor-group .button:focus,
.button-group.minor-group .button:active {
    background-color: #599bdc;
}

.button-group.minor-group .button:active,
.button-group.minor-group .button.active {
    background-color: #3072b3;
}

.button-group.minor-group .button.icon:before {
    opacity: 0.8;
}

/* ------------------------------------------------------- BUTTON CONTAINER */
/* For mixing buttons and button groups, e.g., in a navigation bar */

.button-container .button,
.button-container .button-group {
    vertical-align: top;
}
/* --------------------------------------------------------- CUSTOM BUTTONS */

span.view-toggle{
  display: inline-block;
}

a.view-toggle{
  background: url('../../images/button-viewtoggle.png') no-repeat top left;
  display: block;
  float:left;
  width: 38px;
  height: 27px;
}

a.view-toggle span{
  position: absolute;
  top: -999em;
}

a.view-toggle.pretty{
  &:active{
    background-position: -75px 0px;
  }
}

a.view-toggle.filter{
  width: 36px;
  background-position: -39px 0px;
  &:active{
    background-position: -114px 0px;
  }
}

a.view-toggle.pretty.active{
  background-position: -75px 0px;
}

a.view-toggle.filter.active{
  background-position: -114px 0px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Application Input Controls -- v.0.0.1 [input] (input.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Query Inputs */

div.query-input{
  display: inline-block;
  background-image: -moz-linear-gradient(top, rgba(209,209,209,1), rgba(230,230,230, 0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(209,209,209,1)), to(rgba(230,230,230, 0)));
  -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;
  padding: 3px;
}

div.query-input input[type="text"]{
  display: inline;
  -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;
  border: 1px solid #ccc;
  height: 23px;
  width: 180px;
  outline: none;
  padding: 0px 26px 0px 10px;
  margin:0px;
  font-size: 12px;
}

div.query-input input[type="submit"]{
  display:inline;
  background: transparent url('../../images/button-search.png') no-repeat left center;
  color: transparent;
  border: 0px;
  width: 25px; height: 25px;
  margin-left: -25px;
  outline: none;
  cursor: pointer;
  &:hover{ background: transparent url('../../images/button-search-over.png') no-repeat left center; }
  &:active{ background: transparent url('../../images/button-search-down.png') no-repeat left center; }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Textual Labels -- v.0.0.1 [label] (label.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$font-family-base: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-em: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-primary: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

.label{
  font-family: $font-family-base;
  font-size: 12px;
}

.label.micro{ font-size: 9px; }
.label.small{ font-size: 11px; }

.label.invert{
  color: #fff;
}

.label.light{
  font-weight: normal;
  color: #666;
}

.label.strong{
  font-weight: bold;
  color: #333;
}

.label.caps{
  text-transform: uppercase;
}

.label.badge{
  display: inline-block;
  -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
  background-color: #efefef;
  border: 1px solid transparent;
  padding: 0px 4px 0px 4px;
  min-width: 10px;
  font-size: 11px;
  color: #000;
  font-family: $font-family-primary;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.50);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.50);
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.50);
  text-align: center;
}

.label.badge.alert{
  background-color: #c00;
  color: #fff;
}

.label.badge.dark{
  color: #fff;
  background: #333;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
App Masthead -- v.0.0.2 [masthead] (masthead.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header#masthead{
  height: 49px;
  background-color: #E7E7E7;
  background: url('../../images/masthead-bg.png') repeat-x;
  position: relative;

  img#logo{
    position: absolute;
    top: 8px;
  }

  div.container{
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
    position: relative;
  }

  a.user-dropdown{
    border: 1px solid #ccc;
    background: url('../../images/button-userdrop.png') no-repeat center center;
    background: url('../../images/button-userdrop.png') no-repeat center center, -moz-linear-gradient(top, rgba(239,239,239,0), rgba(204,204,204,0));
    background: url('../../images/button-userdrop.png') no-repeat center center, -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(239,239,239)),color-stop(1, rgb(204,204,204)));
    width: 46px;
    margin-left: 4px;
    padding: 5px 2px 5px 2px;
    color: transparent;
    font-size: 12px; /* match the font-size of the query box, for proper valign */

    &:active{
      background: url('../../images/button-userdrop.png') no-repeat center center;
      background: url('../../images/button-userdrop.png') no-repeat center center, -moz-linear-gradient(top, rgba(232,232,232,0), rgba(210,210,210,0));
      background: url('../../images/button-userdrop.png') no-repeat center center, -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(232,232,232)),color-stop(1, rgb(210,210,210)));
    }

  }

  nav#system{
    float:right;
    margin-top: 6px;
    ul{
      list-style: none;
      li{ display: inline; }
      li + li{ margin-left: 10px; }
      li.separator{
        background: url('../../images/masthead-nav-separator.gif') no-repeat left top;
        padding: 8px 1px 8px 1px;
      }
    }
  }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Alert Flash -- v.0.0.1 [flash] (flash.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#flash-hud{
  width: 944px;
  margin: 0 auto;
  background-color: #ddd;
  -webkit-border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
  border-radius: 0px 0px 7px 7px;
  border: 1px solid #999;
  padding: 8px;
  margin-top: -4px;

  a.control{
    float: right;
    color: #999;
    font-size: 11px;
  }

  .flash-group{
    display: table;
  }

  .flash-subset{
    display: table-row;

    div.heading{
      display: table-cell;
      text-align: right;
      border-right: 1px solid #ccc;
      padding-right: 8px;
      width: 20px;
    }

    ul{
      display: table-cell;
      font-size: 12px;
      padding-left: 8px;
      list-style: none;

      li + li{
        margin-top: 6px;
      }
    }

  }

  .flash-group + .flash-group{
    margin-top: 10px;
  }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Primary Tab Navigation -- v.0.0.2 [nav_primary] (nav_primary.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Primary Nav */
$font-family-nav-primary: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


nav#primary {
  margin-top: 22px;

  ul.container{
    width: 950px;
    margin: 0 auto;
    list-style: none;
    padding-left: 24px;
    height: 34px;
    li{
      float: left;
      position: relative;
      display: inline-block;
      background: url('../../images/tab-inactive-right.png') no-repeat right top;
      height: 34px;
      margin-right: 6px;
      z-index: 1;
      a{
        display: block;
        background:url('../../images/tab-inactive-left.png') no-repeat left top;
        padding: 10px 16px 14px 16px;
        margin-left: -11px;
        font-family: $font-family-nav-primary;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: normal;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
      }
    }
    li.active{
      margin-top: -5px;
      background: url('../../images/tab-active-right.png') no-repeat right top;
      z-index: 1000;
      height: 43px;
      a{
        background:url('../../images/tab-active-left.png') no-repeat left top;
        padding: 12px 20px 12px 20px;
        font-size: 16px;
        color: #666;
      }
    }
    li + li{
      margin-right: 6px;
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Breadcrumb Navigation -- v.0.0.2 [nav_hist_bar] (nav_hist_bar.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

nav#nav_history{

  display: block;
  margin: 6px 0px 12px 0px;

  ol.nav_hist_bar{

    list-style: none;
    display: inline;

    li{
      font-size: 11px;
      display: inline;
    }

    li + li:before{
      content: "|";
    }

    a{
      color: #666;
      &:hover{
        color: #333;
      }
    }

  }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Page Header -- v.0.0.1 [header] (header.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$font-family-primary: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

div#content .page-header{

  display: block;
  background: #ccc;
  height: 56px;
  width: 952px;
  padding: 6px;
  position: relative;
  z-index: 900;
  background: transparent url('../../images/header_bg.png') repeat-x top center;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.40);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.40);

  h1{
    font-family: $font-family-primary;
    font-weight: 200;
    font-size: 25px;
    margin-top: 6px;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
    display: inline-block;
    padding: 6px 7px 7px 54px;
  }

  h1 span{
    color: #666;
  }

  h1.no-icon{
    padding: 7px;
  }

  h1.pools{
    background: transparent url('../../images/header_icon_pools.png') no-repeat 8px center;
  }

  h1.section-index{
    background: transparent url('../../images/header_icon_section-index.png') no-repeat 8px center;
  }

  h1.users{
    background: transparent url('../../images/header_icon_users.png') no-repeat 8px center;
  }

  h1.roles{
    background: transparent url('../../images/header_icon_roles.png') no-repeat 8px center;
  }

  h1.providers{
    background: transparent url('../../images/header_icon_providers.png') no-repeat 8px center;
  }

  h1.provider_accounts{
    background: transparent url('../../images/header_icon_provider-accounts.png') no-repeat 8px center;
    padding: 6px 7px 7px 60px;
  }

  h1.hardware_profiles{
    background: transparent url('../../images/header_icon_hardware-profiles.png') no-repeat 8px center;
    padding: 6px 7px 7px 46px;
  }

  h1.realms{
    background: transparent url('../../images/header_icon_realms.png') no-repeat 8px center;
  }

  h1.pool_families{
    background: transparent url('../../images/header_icon_pool-families.png') no-repeat 8px center;
    padding: 6px 7px 7px 54px;
  }

  h1.catalog_entries{
    background: transparent url('../../images/header_icon_deployables.png') no-repeat 8px center;
  }

  h1.deployments{
    background: transparent url('../../images/header_icon_deployments.png') no-repeat 8px center;
  }

  h1.settings{
    background: transparent url('../../images/header_icon_settings.png') no-repeat 8px center;
  }

  #obj_actions{
    position: absolute;
    right: 0px;
    top: 22px;
    display: inline-block;
    margin-right: 24px;
  }

  .corner{
    background: transparent url('../../images/header_corner.png') no-repeat top center;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0px;
    bottom: -10px;
    z-index: 1;
  }

  .button{
    border-color: #fff;
  }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Statistics Scoreboard -- v.0.0.1 [scoreboard] (scoreboard.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$font-family-primary: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$dd_padding: 10px;
$dd_icon_padding_right: 4px;

#scoreboard{

  background-color: #efefef;
  display: inline-block;
  padding: 8px $dd_padding 10px $dd_padding;
  height: 40px;

  /* statistic group list */
  ul.groups{ list-style: none; }
  ul.groups > li{
    display: inline-block;
    text-align: center;
    margin: 0px;
  }
  ul.groups > li + li{
    background: transparent url('../../images/sb_separator.png') repeat-y 0px 0px;
    padding-left: 2px;
    margin-left: -6px;
  }

  /* statistic sub-group list */
  ul.subgroup{ list-style: none; }
  ul.subgroup > li{ display: inline-block; text-align: center; }
  ul.subgroup > li + li{ margin-left: -$dd_padding; }

  dt{
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    color: #999;
    margin-bottom: 6px;
    text-transform: uppercase;
    padding: 0px $dd_padding 0px $dd_padding;
  }

  dd{
    display: inline;
    padding: 0px $dd_padding 0px $dd_padding;
    font-size: 20px;
    color: #999;
    font-family: $font-family-primary;
  }

  dd + dd{
    margin-left: -$dd_padding; /* compensate for padding-right */
  }

  /* icons */

  dd.pool{
    background: transparent url('../../images/sb_icon_pool.png') no-repeat $dd_padding 4px;
    padding-left: ($dd_padding + $dd_icon_padding_right) + 15px;
  }

  dd.pool.partial{
    background: transparent url('../../images/sb_icon_poolsemi.png') no-repeat $dd_padding 4px;
    padding-left: ($dd_padding + $dd_icon_padding_right) + 15px;
  }

  dd.provider{
    background: transparent url('../../images/sb_icon_provider.png') no-repeat $dd_padding 4px;
    padding-left: ($dd_padding + $dd_icon_padding_right) + 22px;
  }

  dd.deployment{
    background: transparent url('../../images/sb_icon_deployment.png') no-repeat $dd_padding 4px;
    padding-left: ($dd_padding + $dd_icon_padding_right) + 23px;
  }

  dd.instance{
    background: transparent url('../../images/sb_icon_instance.png') no-repeat $dd_padding 4px;
    padding-left: ($dd_padding + $dd_icon_padding_right) + 14px;
  }

  dd.instance.pending{
    background: transparent url('../../images/sb_icon_instance_pending.png') no-repeat $dd_padding 4px;
    padding-left: ($dd_padding + $dd_icon_padding_right) + 15px;
  }

  dd.instance.failure{
    background: transparent url('../../images/sb_icon_instance_failure.png') no-repeat $dd_padding 4px;
    padding-left: ($dd_padding + $dd_icon_padding_right) + 16px;
  }

  dd.alert{
    background: transparent url('../../images/sb_icon_alert.png') no-repeat $dd_padding 4px;
    padding-left: ($dd_padding + $dd_icon_padding_right) + 29px;
  }

  dd.update{
    background: transparent url('../../images/sb_icon_update.png') no-repeat $dd_padding 4px;
    padding-left: ($dd_padding + $dd_icon_padding_right) + 14px;
  }

  dd.quota{
    background: transparent url('../../images/sb_icon_quota.png') no-repeat $dd_padding 4px;
    padding-left: ($dd_padding + $dd_icon_padding_right) + 16px;
  }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Content Section Container -- v.0.0.1 [section] (section.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$font-family-base: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-em: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-primary: Helvetica, Arial, "Lucida Grande", sans-serif;

header.page-header + section.content-section{ margin-bottom: 36px; }
#scoreboard + section.content-section{ margin-top: 36px; }
section.content-section + section.content-section{ margin-top: 36px; }

section.content-section{
  padding: 4px;
  margin-bottom: 36px;

  /* Header code */
  header{
    background: transparent url('../../images/section-border.png') repeat-x bottom left;
    position: relative;
    h2{
      font-family: $font-family-primary;
      font-size: 21px;
      font-weight: 200;
      display: inline-block;
      margin-bottom: 4px;
    }
    .badge{
      vertical-align: 2px;
      bottom: 4px;
    }
    .section-controls{
      position: absolute;
      right: 0px;
      bottom: 4px;
      display: inline-block;
      font-size: 11px;

      a.collapse{
        text-decoration: none;
        color: #666;
      }
    }

    /* nav */
    nav.faceted{
      ul{ list-style: none; display: inline-block; font-family: $font-family-primary; }
      li{ display: inline-block; margin-bottom: 1px; }
      li + li{ margin-left: 40px; }
      a{
        display: inline-block;
        padding-bottom: 6px;
        text-decoration: none;
        color: #666;
        font-weight: 200;
        font-size: 16px;
      }
      a.active{
        border-bottom: 4px solid #0084b7;
        font-weight: bold;
        color: #000;
      }
    }
  }

  /* Content */

  .content{
    margin-top: 10px;
  }

  .content.tight{
    margin-top: 0px;
  }

}

header.page-header + section.content-section{
  margin-top: 36px;
}

section.content-section + section.content-section {
  margin-top: 36px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Alert Components -- v.0.0.1 [alert] (alert.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$font-family-base: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-em: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-primary: Helvetica, Arial, "Lucida Grande", sans-serif;

.content.closed{
  border-bottom: 1px solid #efefef;
}

$alert_padding: 8px;

/* Alerts list */
dl.alerts{

  font-family: $font-family-base;

  ul{
    list-style: none;
    display: table;
    width: 100%;
  }

  li.alert{

    display: table-row;
    height: 14px;
    width: 100%;

    dt{
      display: table-cell;
      padding: $alert_padding;
    }

    dt.subject{
      font-family: $font-family-primary;
      font-size: 13px;
      color: #333;
    }

    dt.subject.warn{
      padding-left: $alert_padding*2 + 14px;
      background: transparent url('../../images/alert_icon_warn.png') no-repeat $alert_padding 8px;
    }

    dt.subject.critical{
      padding-left: $alert_padding*2 + 16px;
      background: transparent url('../../images/alert_icon_critical.png') no-repeat $alert_padding 7px;
    }

    dd{
      display: table-cell;
      padding: $alert_padding;
    }

    dd.type{
      font-family: $font-family-primary;
      font-size: 13px;
      font-weight: 200;
      color: #666;
      padding-left: 10px;
    }

    dd.desc{
      font-family: $font-family-base;
      font-size: 11px;
      color: #999;
      padding-left: 10px;
    }

  }

  li.alert + li.alert{
    dt{border-top: 1px solid #efefef;}
    dd{border-top: 1px solid #efefef;}
  }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Pool Components -- v.0.0.1 [pool] (pool.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$font-family-primary: Helvetica, Arial, "Lucida Grande", sans-serif;
$dd_padding: 10px;
$dd_icon_padding_right: 4px;
$bar_height: 37px;

div.pool.overview{

  header{
    position: relative;
    height: $bar_height;
    width: 100%;
    background-color: #e5e5e5;
    -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;
    border: 1px solid #bcbcbc;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.20);

    h3.name{
      display: block;
      float: left;
      width: 230px;
      height: $bar_height;
      background: transparent url('../../images/pool_bar_name-bg-normal.png') no-repeat 0px 0px;
      border-right: 1px solid #a9a9a9;
      vertical-align: top;

      a{
        display: block;
        text-decoration: none;
        padding: 9px;
        padding-left: 30px;
        font-family: $font-family-primary;
        font-size: 17px;
        color: #666;
        &:hover{color: #333;}
      }
      /* text-shadow: -1px -1px 1px rgba(0,0,0,0.3); */
    }

    a.control{
      display: block;
      float: right;
      position: absolute;
      outline: 0;
      top: 0;
      right: 0;
      text-align: left;
      margin: 5px 5px;
      float: right;
      font-size: 11px;
      color: transparent;
      height: 28px;
      width: 28px;
      background: transparent url('../../images/pool_bar_expand-btn.png') no-repeat 0px -56px;
      &:active{
        background-position: 0px -84px;
      };

      span{
        position: absolute;
        top: -999em;
      }
    }

    dl.statistics{
      display: inline-block;
      height: $bar_height;
      background: transparent url('../../images/pool_bar_prop-gradient.png') repeat-y 0px 0px;
    }

    /* statistic group list */
    ul.groups{ list-style: none; padding: 7px; }
    ul.groups > li{
      display: inline-block;
      text-align: center;
      margin: 0px;
    }
    ul.groups > li + li{
      background: transparent url('../../images/sb_separator.png') repeat-y 0px 0px;
      padding-left: $dd_padding;
      margin-left: -6px;
    }

    /* statistic sub-group list */
    ul.subgroup{ list-style: none; }
    ul.subgroup > li{ display: inline-block; text-align: center; }
    ul.subgroup > li + li{ margin-left: -$dd_padding; }

    dt{
      display: inline;
      font-size: 11px;
      font-weight: normal;
      color: #999;
      text-transform: uppercase;
      padding: 0px 0px 0px 0px;
    }

    dd{
      display: inline;
      padding: 0px $dd_padding 0px $dd_padding;
      font-size: 20px;
      color: #999;
      font-family: $font-family-primary;
      vertical-align: middle;
    }

    dd + dd{
      margin-left: -$dd_padding; /* compensate for padding-right */
    }

    /* icons */

    $icon_y: 2px;

    dd.pool{
      background: transparent url('../../images/sb_icon_pool.png') no-repeat $dd_padding $icon_y;
      padding-left: ($dd_padding + $dd_icon_padding_right) + 15px;
    }

    dd.pool.partial{
      background: transparent url('../../images/sb_icon_poolsemi.png') no-repeat $dd_padding $icon_y;
      padding-left: ($dd_padding + $dd_icon_padding_right) + 15px;
    }

    dd.provider{
      background: transparent url('../../images/sb_icon_provider.png') no-repeat $dd_padding $icon_y;
      padding-left: ($dd_padding + $dd_icon_padding_right) + 22px;
    }

    dd.deployment{
      background: transparent url('../../images/sb_icon_deployment.png') no-repeat $dd_padding $icon_y;
      padding-left: ($dd_padding + $dd_icon_padding_right) + 23px;
    }

    dd.instance{
      background: transparent url('../../images/sb_icon_instance.png') no-repeat $dd_padding $icon_y;
      padding-left: ($dd_padding + $dd_icon_padding_right) + 14px;
    }

    dd.instance.pending{
      background: transparent url('../../images/sb_icon_instance_pending.png') no-repeat $dd_padding $icon_y;
      padding-left: ($dd_padding + $dd_icon_padding_right) + 15px;
    }

    dd.instance.failure{
      background: transparent url('../../images/sb_icon_instance_failure.png') no-repeat $dd_padding $icon_y;
      padding-left: ($dd_padding + $dd_icon_padding_right) + 16px;
    }

    dd.alert{
      background: transparent url('../../images/sb_icon_alert.png') no-repeat $dd_padding $icon_y;
      padding-left: ($dd_padding + $dd_icon_padding_right) + 29px;
    }

    dd.update{
      background: transparent url('../../images/sb_icon_update.png') no-repeat $dd_padding $icon_y;
      padding-left: ($dd_padding + $dd_icon_padding_right) + 14px;
    }

    dd.quota{
      background: transparent url('../../images/sb_icon_quota.png') no-repeat $dd_padding $icon_y;
      padding-left: ($dd_padding + $dd_icon_padding_right) + 16px;
    }

  }

  ul.actions{
    list-style: none;
    display: block;
    text-align: right;
    width: 100%;
    margin: 10px 0px 0px 0px;
    font-size: 11px;

    li{
      display: inline-block;
    }
    li + li{
      margin-left: 14px;
    }
  }

}

div.pool.overview.alert{
  header{
    h3.name{ background: transparent url('../../images/pool_bar_name-bg-alert.png') no-repeat 0px 0px; }
    h3.name a{
      color: #FF6666;
      &:hover{ color: #ff0000;};
    }
  }
}

div.pool.overview.collapsed{

  header{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #ccc;

    a.control{
      background-position: 0px -0px;
      &:active{background-position: 0px -28px;}
      &:hover{color: #333;}
    }

  }
  .content{ display: none; }
}

div.pool.overview + div.pool.overview{
  margin-top: 28px;
}

div.pool.overview + div.pool.overview.collapsed{
  margin-top: 28px;
}

div.pool.overview.collapsed + div.pool.overview.collapsed{
  margin-top: 6px;
}

div.pool.overview.collapsed + div.pool.overview{
  margin-top: 6px;
}

header + div.pool.overview{
  margin-top: 16px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Deployment Components -- v.0.0.1 [deployment] (deployment.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$font-family-base: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-em: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-primary: Helvetica, Arial, "Lucida Grande", sans-serif;

/************************************************************************** */
/********************************************* Large Deployable Card Arrays */
/****************************************************************************/

/* todo: move this elsewhere */

$deployment-large-height: 154px;
$deployment-large-width: 154px;
$deployment-large-padding: 8px;

ul.deployment-array.large{

  margin-top: 38px;
  list-style: none;
  display: table;

  li.deployment{
    display: table-cell;
    float: left;
    border: 1px solid #ccc;
    background-color: #efefef;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    padding: $deployment-large-padding;
    width: $deployment-large-width - ($deployment-large-padding * 2);
    height: $deployment-large-height - ($deployment-large-padding * 2);
    overflow: hidden;
    position: relative;

    h3.name{
      font-family: $font-family-base;
      font-weight: normal;
      font-size: 13px;
      margin-bottom: 14px;
      padding-bottom: 8px;
      border-bottom: 1px solid #ccc;

      a{
        color: inherit;
        text-decoration: underline;
        &:hover{ color: #000; }
      }

    }

    dl.statistics{
      margin-top: 8px;
      ul{list-style: none; margin-left: 12px;}
      li{display: block; height: 24px; padding-left: 26px; padding-top: 1px;}
      li.uptime{ background: transparent url('../../images/deployment_large_uptime.png') no-repeat 6px 0px; }
      li.instances{ background: transparent url('../../images/deployment_large_instances.png') no-repeat 6px 0px; }
      li.provider{
        background: transparent url('../../images/deployment_large_icon_provider.png') no-repeat 0px 0px;
        position: absolute;
        bottom: 0px;
      }
      dt{ display:none; }
      dd{
        font-family: $font-family-primary;
        font-size: 14px;
        color: #666;
      }
      dd span.inline-label{
        font-family: $font-family-base;
        font-size: 11px;
        text-transform: uppercase;
      }
    }

  }

  li.deployment + li.deployment{
    margin-left: 38px;
  }

  li.deployment.pending, li.deployment.alert, li.deployment.failure{
    h3.name{margin: 0; margin-bottom: 8px; color: #fff;}
  }

  /* alert */
  li.deployment.alert{
    background-color: rgb(174,4,4);
    background-image: -moz-linear-gradient(top, rgba(174,4,4,1), rgba(136,0,0, 1));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(174,4,4,1)), to(rgba(136,0,0, 1)));

    h3.name{ a{ color: inherit; } }

    span.alert{
      display: block;
      font-size: 13px;
      font-weight: 200;
      color: #fff;
    }

    span.alert.warn{
      padding-left: 20px;
      background: transparent url('../../images/alert_icon_warn_white.png') no-repeat 0px 0px;
    }

    dl.statistics{
      li.uptime{ background: transparent url('../../images/deployment_large_uptime_white.png') no-repeat 6px 0px; }
      li.instances{ background: transparent url('../../images/deployment_large_instances_white.png') no-repeat 6px 0px; }
      li.provider{
        background: transparent url('../../images/deployment_large_icon_provider_white.png') no-repeat 0px 0px;
        position: absolute;
        bottom: 0px;
      }
      dd{ color: #fff; }
    }
  }

}

ul.deployment-array.large + ul.deployment-array.large{
  margin-top: 10px;
}




/************************************************************************** */
/********************************************* Small Deployable Card Arrays */
/************************************************************************** */

$deployment-small-height: 84px;
$deployment-small-width: 174px;
$deployment-small-padding: 8px;

ul.deployment-array.small{

  margin-top: 10px;
  list-style: none;
  display: table;

  li.deployment{
    display: table-cell;
    float: left;
    border: 1px solid #ccc;
    background-color: #efefef;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    padding: $deployment-small-padding;
    width: $deployment-small-width - ($deployment-small-padding * 2);
    height: $deployment-small-height - ($deployment-small-padding * 2);
    overflow: hidden;

    h3.name{
      font-family: $font-family-base;
      font-weight: normal;
      font-size: 13px;
      margin-bottom: 14px;
    }

    dl.statistics{
      ul{list-style: none;}
      li{display: inline-block;}
      li.left{text-align: left;}
      li.right{text-align: right; float: right;}
      dt{font-size: 9px; text-transform: uppercase; padding: 4px; color: #999; display: block; margin-bottom: 4px;}
      dt.uptime{
        padding-left: 20px;
        background: url('../../images/deployment_small_icon_uptime.png') no-repeat top left;
      }
      dt.count.instances{
        padding-right: 20px;
        background: url('../../images/deployment_small_icon_instances.png') no-repeat top right;
      }
      dd{
        font-family: $font-family-primary;
        font-size: 13px;
        color: #666;
      }
    }

  }

  li.deployment + li.deployment{
    margin-left: 14px;
  }

  li.deployment.pending, li.deployment.alert, li.deployment.failure{
    h3.name{margin: 0; margin-bottom: 8px; color: #fff;}
  }

  /* pending */
  li.deployment.pending{
    background: #efefef url('../../images/deployment_small_pending_bg.png') no-repeat bottom right;
    h3.name{color: #333;}
    span.status{
      font-family: $font-family-primary;
      font-size: 13px;
      color: #333;
    }
  }

  /* alert */
  li.deployment.alert{
    background: url('../../images/deployment_small_alert_bg.png') no-repeat bottom right;
    span.alert-type{display: block; font-size: 13px; color: #fff; font-weight: normal;}
    span.occurred-at{
      font-family: $font-family-primary;
      font-size: 11px;
      color: #fff;
    }
  }

  /* failure */
  li.deployment.failure{
    background: url('../../images/deployment_small_failure_bg.png') no-repeat bottom right;
    span.failure-type{display: block; font-size: 13px; color: #fff; font-weight: normal;}
    span.occurred-at{
      font-family: $font-family-primary;
      font-size: 11px;
      color: #fff;
    }
  }

}

ul.deployment-array.small + ul.deployment-array.small{
  margin-top: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Flat Table Component -- v.0.0.1 [flat_table] (flat_table.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$font-family-primary: Helvetica, Arial, "Lucida Grande", sans-serif;

/* padding configuration */
$th_padding: 8px 10px 8px 10px;
$td_padding: 8px;

/* color configuration */
$cell_color_base: #ffffff;
$cell_color_header: #cccccc;
$cell_color_stripe: #efefef;
$cell_color_selected: #f9fafe;
$cell_color_gradient: 5%;

$cell_header_text_color: #666666;

/* useful mixins */
@mixin gradient-bg($from, $to){
  background-color: $cell_color_base;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($from), to($to));
  background-image: -moz-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
  background-image: linear-gradient($from, $to);
}

/* Filterable Form */
form.filterable-data{

  ul.obj_actions{
    padding: 6px 0px 6px 0px;

    list-style: none;
    li{ display: inline-block; }
    li + li{ padding-left: 6px; }
  }

  div.controls{
    display: block;
    font-family: $font-family-primary;
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 10px;

    ul{ list-style: none; display: inline-block; }
    li{ display: inline; }
    li + li{ padding-left: 6px; }
    ul.view-contols{

    }
    ul.filter-controls{
      float: right;
    }

  }

  table{
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

}


/* Flat Table ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
table.flat, form.filterable-data table{

  border-collapse: separate;
  font-family: $font-family-primary;

  /* header */

  th{
    @include gradient-bg($cell_color_base, $cell_color_header);
    text-align: center;
    font-size: 11px;
    color: $cell_header_text_color;
    font-weight: bold;
    text-shadow: 0px 1px 0px #ffffff;
    padding: $th_padding;
    border-bottom: 1px solid #D6DADD;
    border-left: 1px solid darken(#E9EAEC, $cell_color_gradient);
  }

  th.ignore{
    background-color: transparent;
    background-image: none;
    border: 0;
  }

  th.ignore + th{
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
  }

  td{
    $cell_color_end: darken($cell_color_base, $cell_color_gradient);
    border-spacing: 0px;
    text-align: center;
    padding: $td_padding;
    border-top: 1px solid #fff;
    font-size: 12px;
    color: #333;
    @include gradient-bg($cell_color_base, $cell_color_end);
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid darken($cell_color_end, $cell_color_gradient);
    border-right: 1px solid darken($cell_color_end, $cell_color_gradient);
  }

  tr{
    height: 30px;
  }

  tr.stripe{
    td{
      $cell_color_end: darken($cell_color_stripe, $cell_color_gradient);
      @include gradient-bg($cell_color_stripe, $cell_color_end);
      border-bottom: 1px solid darken($cell_color_stripe, $cell_color_gradient);
      border-right: 1px solid darken($cell_color_stripe, $cell_color_gradient);
    }
  }

  tr.selected{
    td{
      $cell_color_end: darken($cell_color_selected, $cell_color_gradient);
      @include gradient-bg($cell_color_selected, $cell_color_end);
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      border-bottom: 1px solid darken($cell_color_end, $cell_color_gradient);
      border-right: 1px solid darken($cell_color_end, $cell_color_gradient);
    }
  }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Form Components -- v.0.0.1 [form] (form.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$font-family-base: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$label-font: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-primary: Helvetica, Arial, "Lucida Grande", sans-serif;

form.generic{

  fieldset{
    p + p{
      margin-top: 10px;
    }
    p.radio-group label{
      display: inline;
    }
  }

  fieldset.inline p{
    display: inline-block;
  }

  fieldset.em{
    padding: 10px;
    background-color: #dfdfdf;
    border: 1px solid #999;
    margin: 10px 0px 10px 0px;
  }

  fieldset + fieldset{
    margin-top: 10px;
  }

  fieldset legend{
    font-family: $font-family-primary;
    font-size: 16px;
    font-weight: light;
  }

  label{
    display: block;
    font-family: $label-font;
    font-size: 12px;
    text-shadow: 0px 1px 0px #ffffff;
    padding-bottom: 2px;
    font-weight: normal;
  }

  label span{
    font-size: 11px;
    color: #666;
  }

  input[type="text"],input[type="password"]{
    padding: 4px;
    width: 200px;
    font-size: 13px;
  }

  input.em{
    font-size: 16px;
    padding: 6px;
  }

  input.long{
    width: 400px;
  }

  input.short{
    width: 100px;
  }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Page Footer -- v.0.0.1 [footer] (footer.scss)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Footer */

footer.standard{

  background: rgba(0, 0, 0, 0.20);
  position: relative;
  height: 40px;
  width: 100%;
  font-size: 11px;
  clear: both;

  div.container{
    margin: 0 auto;
    width: 946px;
    background: rgba(0, 0, 0, 0.12);
    padding: 0px 10px 0px 10px;
    height: 40px;
  }

  img.logo{
    margin-right: 14px;
  }

  span.copyright{
    display: inline-block;
    color: #666;
  }

  nav.footer{
    display: inline-block;
    padding: 14px;
    a{
      color: #fff;
      padding-right: 6px;
    }
  }

}

