$font-family-base: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-em: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$font-family-primary: Helvetica, Arial, "Lucida Grande", sans-serif;

/* body */

html, body{ width: 100%; height: 100%; }

strong, em, b, i{ font-family: $font-family-em; }

body#auth{
  background: url('../../images/login-body-bg.png');
  font-family: $font-family-base;
  font-size: 12px; /* 12px base */
  color: #333;

  #primary-container{
    position: relative;
    width: 518px;
    margin: 0 auto;
  }

  div.error{
    background: url('../../images/login-error-bg.png') no-repeat top left;
    width: 506px;
    height: 97px;
    margin: 4px;

    p.text{
      padding: 22px 20px 20px 0px;
      margin-left: 160px;
      line-height: 22px;
    }

  }

  div.error.critical{
    background: url('../../images/login-failure-bg.png') no-repeat top left;
  }

  #stage{
    float: left;
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 500px;
    background: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 550, from(rgba(51,51,51,0.60)), to(rgba(130,130,130,0)));
    background: -moz-radial-gradient(50% 0% 90deg,circle closest-corner, rgba(51,51,51,0.60), rgba(130,130,130,0));
  }

  /* Content */

  $container-width: 517px;
  $container-height: 280px;
  $container-waterline: 80px;

  $card-surround-width: 517px;
  $card-surround-height: 280px;

  $card-width: 500px;
  $card-height: 260px;

  #primary-container{
    position: absolute;
    left: 50%;
    bottom: 40%;
    margin-left: -$container-width / 2;
    margin-bottom: -$container-waterline;
  }

  #card-surround{
    width: $card-surround-width;
    height: $card-surround-height;
    background: url('../../images/login-card-surround-bg.png') no-repeat bottom center;
    border: 1px solid transparent;
  }

  #card{
    position: relative;
    background-color: #e7e7e7;
    width: $card-width;
    height: $card-height;
    margin-top: ($card-surround-height - $card-height) / 2;
    margin-left: ($card-surround-width - $card-width) / 2;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #666;

    background: url('../../images/login-card-bg.png');
    overflow: hidden;
  }

  div.panel{
    position: absolute;
    width: $card-width;
    height: $card-height;

    .content{
      margin: 18px;
    }

  }

  $security-nubbin: 143px;

  #security{
    background: url('../../images/login-card-security-bg.png') no-repeat top right;
    left: -($card-width - $security-nubbin);
    margin-right: 18px;
    float: left;
    font-family: $font-family-primary;
    color: #fff;

    header{
      display: block;
      height: 54px;
      margin-left: 18px;
      padding-top: 30px;
      padding-left: 50px;
    }

    h1{
      font-size: 20px;
      color: #fff;
    }

    span.expiration{
      font-size: 11px;
      font-weight: normal;
    }

    header.secure{
      background: url('../../images/login-header-secure.png') no-repeat top left;
    }

    header.unsecure{
      background: url('../../images/login-header-insecure.png') no-repeat 16px 28px;
      height: 34px;
    }

    .content{
      margin-left: 68px;
      margin-top: 0px;
      margin-right: 143px;

      p{line-height: 18px};
      p+p{margin-top: 12px;}

    }

    #logo{
      position: absolute;
      right: 30px;
      top: 74px;
    }

  }

  #login{

    width: $card-width - $security-nubbin;
    left: $security-nubbin;

    label{
      font-size: 11px;
      color: #666;
    }

    .content{
      margin-top: 48px;
    }

    fieldset.primary{

      label{
        display: block;
        text-transform: uppercase;
        margin-bottom: 6px;
      }

      input{
        width: 284px;
        padding: 8px 0px 8px 28px;
        font-size: 18px;
        color: #000;
        font-family: $font-family-primary;
      }

      input.username{ background: #fff url('../../images/login-username-icon.png') no-repeat 6px 8px; }
      input.password{ background: #fff url('../../images/login-password-icon.png') no-repeat 12px 11px; }
    }

    fieldset + fieldset{
      margin-top: 10px;
    }

    div.group.left{
      display: inline;
      float: left;
    }

    div.group.right{
      display: inline;
      float: right;
      text-align: right;
    }

    div.group.bottom{
      position: absolute;
      bottom: 18px;
    }

    div.group.submit{
      position: absolute;
      right: 18px;
      width: 110px;
    }

    #progress-indicator{
      margin: 4px;
      display: none;
    }

    .options{
      a.help{ background: url('../../images/login-btn-help.png') no-repeat 0px 0px; }
      a.security{ background: url('../../images/login-btn-security.png') no-repeat 0px 0px; }
      a{
        display: inline-block;
        outline: 0;
        text-align: left;
        margin: 0px;
        height: 21px;
        width: 21px;
        &:hover{ background-position: -21px 0px; }
        &:active{ background-position: -42px 0px; }
      }
      a span{ display: none; position: absolute; top: -999em; }
    }

    #login-btn{
      float: right;
      padding-left: 20px;
      padding-right: 20px;
    }

  }

  .button{
    height: 26px;
    border: 1px solid #999;
    font-size: 13px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: $font-family-base;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* W3C */

    &:active{
      background: rgb(204,204,204); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(175,175,175,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(175,175,175,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(175,175,175,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(175,175,175,1) 100%); /* Opera11.10+ */
      background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(175,175,175,1) 100%); /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#afafaf',GradientType=0 ); /* IE6-9 */
      background: linear-gradient(top, rgba(204,204,204,1) 0%,rgba(175,175,175,1) 100%); /* W3C */
    }

  }

}
