@import "converge-ui/login";

article{
  .button{ position: relative; }

  aside img{ margin-left: 30px; }

  .container section .card{
    div.error{
      padding: 30px 0px 0px 26px;
      font-size: 10px;
    }

    fieldset.primary input{
      &:focus{
        @include box-shadow(0px 0px 2px $login_link-color);
      }
    }

    #progress-indicator{
      float: right;
      margin: 7px 10px;
    }
  }
}
