@import "compass/reset";
@import "converge-ui/composites/login";

article{
  aside img{ margin-left: 15px; }

  #notifications{
    position: relative;

    div.error{
      position: absolute;
      bottom: 15px;
      @include box-sizing(border-box);
      border: 1px solid #dddddd;
      @include border-radius(7px);
      width: $login-container-width;
      padding: 10px;
      @include background-image(linear-gradient(top, rgba(255, 255, 255, 0) 40%, $login_base-color 120%));
      @include box-shadow($login_base-color 0px 12px 15px -8px);

      p {
        padding-left: 26px;
        margin: 0;
        position: relative;
        color: rgba(black, 0.48);

        &:before {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          left: 4px;
          top: 0px;
          background: url("/images/flash_warning_icon.png") no-repeat 0 0;
        }
      }
    }
  }

  .container section .card{
    .spinner{
      background: transparent image-url("login-spinner.gif") no-repeat center center;
      height: 30px;
      width: 30px;
      margin-top: 0px;
    }


    fieldset.primary {
      label {
        color: rgba(black, 0.35);
        @include text-shadow(1px 1px 0 white);
      }

      input{
        &:focus{
          @include box-shadow(0 0 2px $login_link-color);
        }
      }
    }

  }
}
