/* Adapted normalization */

.hidden {
  display: none;
}

header#header {
  height:60px;

  &:after{
    display: none; // reset :after declaration coming from converge-ui header
  }

  .logo{
    width: 223px;
    bottom: 0px;
  }

  .header-widget {
    float: left;
  }

  #widget-container {
    ul {float:right;}
      li.header-widget a{
        text-decoration:none;
        font-family: $screenfont; // $headfont (Overpass) is set for whole header, which aligns wrong in the line
      }
  }
}
