{{#images}}
  <li class="clearfix">
    <dl>
      <dt>
        <div class="build-actions">
          <h3>{{provider_type.name}}</h3>
          {{#build_status.is_active_build}}
            {{build_status.active_build_status}}
          {{/build_status.is_active_build}}

          {{^build_status.is_active_build}}
            {{#build_status.build_action_available}}
              <%= button_to(t('images.show.build'),
                            '{{build_target_image_path}}',
                            :method => :post) %>
              {{#build_status.translated_failed_build_count}}
                <div class="light">
                  {{build_status.translated_failed_build_count}}
                </div>
              {{/build_status.translated_failed_build_count}}
            {{/build_status.build_action_available}}

            {{#build_status.delete_action_available}}
              <%= button_to(t('images.show.delete'),
                            '{{delete_target_image_path}}',
                            :method => :delete) %>
            {{/build_status.delete_action_available}}
          {{/build_status.is_active_build}}
        </div>
      </dt>
      <dd>
        <table class="light_table">
          <thead>
            <tr><th>
              <strong><%= t('images.show.account') %></strong>
            </th>
            <th>
              <%= t('images.show.provider') %>
            </th>
            <th>
              <%= t('images.show.providers_image_id') %>
            </th>
            <th class="image_controls"></th>
          </tr></thead>
          <tbody>
            {{#accounts}}
                <tr>
                  <td>
                    <strong>
                      {{account.name}}
                    </strong>
                  </td>
                  <td class="light">
                    {{account.provider_name}}
                  </td>
                  <td class="light">
                    {{provider_image.uuid}}
                  </td>
                  <td class="image_controls light">
                      {{#push_status.is_active_push}}
                        {{push_status.active_push_status}}
                      {{/push_status.is_active_push}}

                      {{^push_status.is_active_push}}
                        {{#push_status.push_started_for_account}}
                          <div class="light">
                            <%= t('images.show.push_started') %>
                          </div>
                        {{/push_status.push_started_for_account}}

                        {{#push_status.build_action_available}}
                          <%= button_to(t('images.show.push'),
                                        '{{push_provider_image_path}}',
                                        :method => :post,
                                        :class => 'upload_image button') %>
                          {{#push_status.translated_failed_push_count}}
                            <div class="light">
                              {{push_status.translated_failed_push_count}}
                            </div>
                          {{/push_status.translated_failed_push_count}}
                        {{/push_status.build_action_available}}

                        {{#push_status.delete_action_available}}
                          <%= button_to('', '{{delete_provider_image_path}}',
                                        :method => :delete,
                                        :class => 'delete_image') %>
                        {{/push_status.delete_action_available}}
                      {{/push_status.is_active_push}}
                  </td>
                </tr>
            {{/accounts}}
          </tbody>
        </table>
      </dd>
    </dl>
  </li>
{{/images}}
