!!! XML
%pool{:id => pool.id, :href => api_pool_url(pool)}
  %name= pool.name
  %pool_family{:id => pool.pool_family.id, :href => pool_family_url(pool.pool_family)}= pool.pool_family.name
  -if pool.quota.maximum_running_instances
    %quota{ :maximum_running_instances => pool.quota.maximum_running_instances}
  -else
    %quota{ :maximum_running_instances => _("unlimited")}
  %enabled= pool.enabled
  %catalogs
    - catalogs.each do |catalog|
      %catalog{:id => catalog.id, :href => api_catalog_url(catalog)}
  =render '/deployments/list',                                |
          :deployments => deployments,                        |
          :shallow => true,                                   |
          :deployments_href => api_pool_deployments_url(pool) |
