%header.page-header
  %h1.pools= @title

%section.content-section.user
  .content
    = conductor_form_for @pool do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => pool_families_path
