%header.page-header
  #obj_actions.button-container
    .button-group
      = pretty_filter_toggle(pools_path(:view => 'pretty', :page => params[:page]), pools_path(:view => 'filter', :page => params[:page]))
    .button-group
      - if check_privilege(Privilege::CREATE, Pool)
        = link_to t('pools.new_pool'), new_pool_path, { :class => 'button primary', :id => 'new_pool_button' }
  %h1.section-index= t 'pools.index.overview'

= render :partial => 'scoreboard_index'
