%h3
  History(pretty view) has not been implemented yet.

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'history', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'history', :view => 'pretty' )}');