-if flash[:error]
  -if flash[:error].kind_of?(String)
    .flash-subset
      %div.heading
        =image_tag 'flash_error_icon.png', :alt => 'Errors'
        =flash[:error]
-else
=filter_table(@header,@catalog_images) do |catalog_image|
  %tr{:class => cycle('nostripe','stripe')}
    %td=catalog_image[:catalog]
    %td=catalog_image[:deployable]
    %td=catalog_image[:image]
    %td=catalog_image[:provider_images]
