<h3 class="name">
  <%= link_to('{{name}}', '{{view_path}}') %>
</h3>
<dl class="statistics">
  <ul class="groups">
    <li>
      <dt><%= _("Deployments")%></dt>
      <dd class="count deployment">{{deployments_count}}</dd>
    </li>
    <li>
      <dt><%= _("Instances")%></dt>
      <dd class="count instance">{{statistics.total_instances}}</dd>
      <dd class="count instance pending">{{statistics.instances_pending}}</dd>
      <dd class="count instance failure">{{statistics.instances_failed_count}}</dd>
    </li>
    <li>
      <dt><%= _("Quota Used")%></dt>
      <dd class="percentage_quota">{{statistics.quota_percent}}</dd>
    </li>
  </ul>
</dl>

<% unless @pools.count < 2 %>
  <a class="control" href="#">
    <span><%= _("Expand/Collapse") %></span>
  </a>
<% end %>
