%h3
  = _('Properties') % @pool.name
- if check_privilege(Privilege::MODIFY, @pool)
  = link_to t(:edit), edit_pool_path(@pool), { :class => 'button' }

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'properties', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'properties', :view => 'pretty' )}');
