%h3
  = _("Properties for %s") % @pool.name
- if check_privilege(Privilege::MODIFY, @pool)
  = link_to _("Edit"), edit_pool_path(@pool), { :class => 'button' }

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'properties', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'properties', :view => 'pretty' )}');
