<dl class="statistics">
  <ul class="groups">
    <li>
      <dt><%= _("Pools")%></dt>
      <dd class="count pool" title="<%= _("Total Pools") %>">{{user_pools_count}}</dd>
      <dd class="count pool partial" title="<%= _("Pools in use") %>">{{pools_in_use}}</dd>
    </li>
    <li>
      <dt><%= _("Deployments")%></dt>
      <dd class="count deployment" title="<%= _("Total Deployments") %>">{{deployments_count}}</dd>
    </li>
    <li>
      <dt><%= _("Instances")%></dt>
      <dd class="count instance" title="<%= _("Total Instances") %>">{{instances_count}}</dd>
      <dd class="count instance pending" title="<%= _("Instances pending") %>">{{instances_pending_count}}</dd>
      <dd class="count instance failure" title="<%= _("Instances failed") %>">{{instances_failed_count}}</dd>
    </li>
    <li>
      <ul class="subgroup">
        <li>
          <dt><%= _("Alerts")%></dt>
          <dd class="count alert" title="<%= _("Alerts") %>">{{instances_failed_count}}</dd>
        </li>
      </ul>
    </li>
    <li>
      <dt>
        <%= _("User")%>
        <%= _("Quota Used")%>
      </dt>
      <dd class="percentage quota" title="<%= _("Quota usage") %>">{{percentage_quota}}</dd>
      <dd class="fraction instance">
        <span class="part" title="<%= _("Running Instances") %>">{{user_running_instances}}</span>
        <span class="divider label small caps">of</span>
        <span class="total" title="<%= _("Total Instances available") %>"><%= @user_statistics[:user_available_quota].nil? ? raw('&infin;') : @user_statistics[:user_available_quota] %></span>
      </dd>
    </li>
  </ul>
</dl>

