%header.page-header
  %h1{:class => controller.controller_name}=t('pools.pools')
  #obj_actions.button-group
    = link_to t('pools.new_pool'), new_pool_url, :class => 'button primary', :id => 'new_pool_button'
  .corner &nbsp;
