%header.page-header
  %h1{:class => controller.controller_name} Pools
  #obj_actions.button-group
    = link_to 'New Pool', new_pool_url, :class => 'button primary', :id => 'new_pool_button'
  .corner &nbsp;
