#pools_nav.grid_3.actionsidebar
  %dl
    %dt
      Pools
    %dd.add
      %span
      =link_to 'New Pool', :action => :new, :class => "button"

#details{:class => 'grid_13'}
  %table
    =sortable_table_header @header
    - @pools.each do |pool|
      %tr
        %td
          =link_to pool.name, pool_url(pool.id)
        %td
          =((pool.quota.maximum_running_instances || 0)/100)*pool.quota.total_instances
          ='%'
        %td
          =pool.quota.total_instances
        %td
          =pool.zone.name
