!!!XML
%provider_image{:id => image.id, :href => api_provider_image_url(image.id) }
  - if @image.respond_to?('status')
    %status=@image.status
  - else
    %object_type= image.object_type
    %target_identifier= image.target_identifier
    %status="COMPLETE"
    %provider=image.provider_name
    %target_image{:id => image.target_image.id, :href => api_target_image_url(image.target_image.id)}
