<% if @pool.images.size == 0 %>
<h1>There are no images to display</h1>
<% else %>
    <table>
      <thead>
        <tr>
        <th scope="col">Name</th>
          <th scope="col">Arch</th>
        </tr>
      </thead>
      <tbody>
  <%@pool.images.each {|image| %>
        <tr>
          <td><%= image.name %></td>
          <td><%= image.architecture %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% end %>