.dcloud_form
  = error_messages_for 'provider'
  %h2 Add a cloud provider
  %br/
  - form_tag :controller => :provider, :action => 'create' do
    %ul
      %li
        %label
          Name
          %span Provide a descriptive name for this provider connection.
        = text_field :provider, :name, :class => "txtfield"
      %li
        %label
          URL
          %span Enter the URL of the cloud provider.
        = text_field:provider,  :url, :class => "txtfield"
    = submit_tag "Save", :class => "submit"
