- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $("#provider-tabs").tabs();
    });
#provider-tabs
  %ul
    %li= link_to "Accounts",  {:action => "accounts", :id => @provider.id, :ajax => true}
    %li= link_to "Realms",  {:action => "realms", :id => @provider.id, :ajax => true }
    - if has_view_perms?
      %li= link_to "User access",  {:controller => "permissions", :action => "list", :provider_id => @provider.id, :ajax => true }
    %li= link_to "Settings", {:action => "settings", :id => @provider.id, :ajax => true}
