%matching_hardware_profiles<>
  - @matches.each do |match|
    %matching_hardware_profile<>
      = render :partial => 'templates/xml/hardware_profile.xml', :locals => { :profile => match[:hardware_profile] }
      %constraints<>
        - [:memory, :cpu, :storage, :architecture].each do |property|
          = render  :partial => 'templates/xml/hardware_profile_property.xml', :locals => { :property => match[property] }