<script type="text/javascript">

  function fnOpenClose() {
    $('td img', dataTable_images_table.fnGetNodes() ).each( function () {
      $(this).click( function () {
        var nTr = this.parentNode.parentNode;
        if ( this.src.match('dir_open') )
        {
          /* This row is already open - close it */
          this.src = "/images/dir_closed.png";
          /* fnClose doesn't do anything for server-side processing - do it ourselves :-) */
          var nRemove = $(nTr).next()[0];
          nRemove.parentNode.removeChild( nRemove );
        }
        else
        {
          /* Open this row */
          this.src = "/images/dir_open.png";
          dataTable_images_table.fnOpen( nTr, dataTable_images_table.fnGetData(nTr)[5], 'details' );
        }
      });
    });
  }

  function getCheckedRows() {
    return $('input[name="image_id[]"]:checked', dataTable_images_table).length;
  }

  function showButtons() {
    getCheckedRows();
    $('input[name="create_image"]').attr('disabled', getCheckedRows() != 1);
  }

  function checkRow(ev) {
    var box = $('input[name="image_id[]"]', ev.target.parentNode);
    if ($(ev.target).attr('name') != "image_id[]")
      box.attr('checked', !box.attr('checked'));
    showButtons();
  }

  function checkAll(ev) {
    $('input[name="image_id[]"]', dataTable_images_table).attr('checked', $(ev.target).attr('checked'))
  }

  function drawCallback() {
    $('#image_id_all').attr('checked', false);
    fnOpenClose();
  }

  function createInstance() {
    var selected_row = $('input[name="image_id[]"]:checked', dataTable_images_table);
    location.href = '<%= url_for(:controller => "instance", :action => "new") %>?instance[image_id]=' + selected_row.attr('value');
  }
</script>

<%= datatable(
  Image::COLUMNS.map {|c| c[:opts]},
  {
    :table_dom_id => 'images_table',
    :per_page => Image::per_page,
    :sort_by => "[2, 'asc']",
    :serverside => true,
    :ajax_source => url_for(:controller => 'image', :action => 'images_paginate'),
    :append => ".fnSetFilteringDelay()",
    :persist_state => false,
    :click_callback => "function(ev) {checkRow(ev);}",
    :draw_callback => "drawCallback",
  }
) %>
  <div style="padding:20px">
    <input type="button" value="Create instance" name="create_image" disabled=true onclick="createInstance()">
  </div>
  <table class="datatable display" id="images_table">
    <thead>
      <tr>
        <% Image::COLUMNS.each do |c| %>
          <%= "<th>#{c[:header]}</th>" %>
        <% end %>
      </tr>
    </thead>
    <tbody>
  </tbody>
</table>
