%header.page-header
  %h1{:class => controller.controller_name} Roles
  #obj_actions.button-group
    = link_to 'New Role', new_role_url, :class => 'button primary', :id => 'new_role_button'
  .corner &nbsp;
