= render :partial => 'layouts/admin_nav'
= render :partial => 'section_header'
%section.content-section.users
  %header
    %h2 New Role

  .content
    = form_for @role, :url => roles_path, :html => {:class => 'generic'} do |f|
      = render :partial => "form", :locals => { :form => f }
