= render :partial => 'layouts/admin_nav'
%header.page-header
  %h1.no-icon Roles
%section.content-section.users
  %header
    %h2=_("New Role")

  .content
    = form_for @role, :url => roles_path, :html => {:class => 'generic horizontal'} do |f|
      = render :partial => "form", :locals => { :form => f }
