%header.page-header
  %h1{:class => controller.controller_name} Users
  #obj_actions.button-group
    = link_to 'New User', new_user_url, :class => 'button primary', :id => 'new_user_button'
  .corner &nbsp;