%header.admin-page-header
  #obj_actions
    =t'users.quick_jump'
    = link_to 'Groups', "#groups", :class => 'rounded-link'
    = link_to 'Users', "#users", :class => 'rounded-link'
    = link_to 'Roles', "#roles", :class => 'rounded-link'
  .clear
