.dcloud_form
  %h2 Edit my profile.
  - form_for @user, :url => account_path do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    = f.submit "Update", :class => "submit"
    %br/
    = link_to "Cancel", account_path, :class => 'actionlink'
