.formwindow
  %h2 Edit an Account
  - form_for @user, :url => account_path, :html => {:id => "login"} do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    = f.submit "Make Changes", :class => "formbutton"
    %br/
    = link_to "Cancel", account_path, :class => "formbuton"
