.modalbox
  %h2 New Account
  .dcloud_form
    - form_for @user, :url => account_path do |f|
      = f.error_messages
      = render :partial => "form", :object => f
      = f.submit "Create Account", :class => "submit dialogbutton"
      = link_to "Cancel", root_path, :class => 'actionlink button dialogbutton'
