= render :partial => 'layouts/nav_history'

%header.page-header
  %h1.section-index= t('logs.index.title')

%section.content-section.toggle-view.logs
  = render :partial => 'pretty_view'
  = render :partial => 'filter_view'

