%h3
  Properties for
  = @account.name
= link_to "Edit", edit_admin_provider_account_path(@account), { :class => 'button' }
= link_to "Test", admin_provider_account_path(@account, {:test_account => true}), { :class => 'button' }
