#deployment-alerts
  = render :partial => 'deployment_alerts',
           :mustache => { :failed_instance_exists => @failed_instances.count > 0,
                          :failed_instances_count => @failed_instances.count,
                          :failed_instances => @failed_instances.map{ |instance| instance_for_mustache(instance) } }

%script#deploymentAlertTemplate{ :type => 'text/html' }
  = render :partial => 'deployment_alerts'
