<li class="deployment">
  <h3 class="name">
    <a href="{{path}}">{{name}}</a>
  </h3>
  <span class="status {{state}}" title="{{translated_state}}">{{state}}</span>
  <dl class="statistics">
    <ul>
      <li class="right">
        <dt class="instances count"><%= _("Instances") %></dt>
        <dd>{{instances_count}}</dd>
      </li>
      <li class="left">
        <dt><%= _("Uptime") %></dt>
        <dd>{{uptime}}</dd>
      </li>
    </ul>
  </dl>
</li>
