%header.page-header
  %h1.deployments
    = [@deployment.name, "Deployment"].join(' ')
  #obj_actions.button-container
    .button-group
      = button_to 'Delete', deployment_path(@deployment), :method => :delete, :confirm => t("deployments.confirm_delete"), :class => "button pill danger", :id => 'delete_button'
  .corner &nbsp;
