%h3=t 'deployments.list_of_events'

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'history', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'history', :view => 'pretty' )}');