%table.properties_table
  %thead
    %tr
      %th Property Name
      %th Value
  %tbody
  -@deployment_properties.each do |key, value|
    %tr
      %td=key.to_s.capitalize
      %td=value
  %tr
    %td Global Uptime
    %td=count_uptime(@deployment.uptime_all)
  %tr
    %td Uptime 1st instance running
    %td=count_uptime(@deployment.uptime_1st_instance)

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'properties', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'properties', :view => 'pretty' )}');