-# assumes at least one service
%table{:width => "100%"}
  - if assembly.services.size > 1
    - assembly.services.each do |service|
      %tr
        %td
          service.name
      %tr
        %td
          %table
            = render :partial => 'deployments/parameters', :locals => {:assembly => assembly.name, :service => service}
  - else
    = render :partial => 'deployments/parameters', :locals => {:assembly => assembly.name, :service => assembly.services.first}
