= render :partial => 'layouts/admin_nav'
= render :partial => 'section_header'

%section.content-section.config_server
  %header
    %h2 Edit Config Server

  .content
    = form_for @config_server, :url => config_server_path(@config_server), :html => {:method => :put, :class => "generic"} do |f|
      = render :partial => 'config_server_form', :locals => {:form => f}
