%table
  %tbody
    %tr
      %td
        %label{:name => 'name'}=t('catalogs.index.name') + ":"
      %td
        = @catalog.name
    %tr
      %td
        %label{:name => 'pool'}=t('pools.pool') + ":"
      %td
        = @catalog.pool.name
