%table
  %tbody
    %tr
      %td
        %label{:name => 'name'} Name:
      %td
        = @catalog.name
    %tr
      %td
        %label{:name => 'pool'} Pool:
      %td
        = @catalog.pool.name
