%header.page-header
  %h1{:class => controller.controller_name} Catalogs
  #obj_actions.button-group
    = link_to 'New Catalog', new_catalog_url, :class => 'button primary', :id => 'new_catalog_button'
  .corner &nbsp;
