%header.admin-page-header
  %h1{:class => controller.controller_name}=t('catalogs.catalogs')
  #obj_actions.button-group
    = link_to t('catalogs.new_catalog'), new_catalog_url, :class => 'button primary', :id => 'new_catalog_button'
