= render :partial => 'layouts/admin_nav'

%header.admin-page-header
  %header
  %h1 Add New Catalog
  #obj_actions
    Return to:
    = link_to "Catalogs", catalogs_path, :class => 'rounded-link'

%section.admin-content-section
  = form_for @catalog, :url => catalogs_path, :html => {:class => 'generic'} do |f|
    = render :partial => "form", :locals => { :form => f }
