%header.admin-page-header
  %h1{:class => controller.controller_name} Catalog Entries
  #obj_actions.button-group
    = link_to 'New Catalog Entry', new_catalog_entry_url, :class => 'button primary', :id => 'new_catalog_entry_button'
