= render :partial => 'layouts/admin_nav'
%header.page-header
  %h1.settings=_("Settings")

%section.content-section.settings
  %header
    %h2= _("Permissions")
  .content
    - if check_privilege(Privilege::MODIFY)
      %p
        = _("Modify default user settings")
        = link_to _("Continue"), self_service_settings_path, :class => 'button'
