<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title -%></title>
  <%= stylesheet_link_tag 'ovirt-tree/tree' %>

  <%= javascript_include_tag "jquery-1.2.6.min.js" -%>
  <%= javascript_include_tag "jquery.livequery.min.js" -%>
  <%= javascript_include_tag "jquery.ui-1.5.2/ui/packed/ui.core.packed.js" -%>
  <%= javascript_include_tag "test/smart_nav_sample_data.js" -%>
  <%= javascript_include_tag "jquery.form.js" -%>
  <%= javascript_include_tag "trimpath-template-1.0.38.js" %>
  <%= javascript_include_tag "ovirt.tree.js" %>
  <%= javascript_include_tag "ovirt.js" -%>

  <script type="text/javascript">
      var $tabs, selected_tab;
      function delete_vm_pool(id, parent) {
        $(document).trigger('close.facebox');
        $.post('<%= url_for :controller => "resources", :action => "destroy" %>',
               {id: id},
                function(data,status){
                  $("#vmpools_grid").flexReload();
                  processTree();
                  if (data.alert) {
                    $.jGrowl(data.alert);
                  }
                 }, 'json');
      }
      function delete_hw_pool(id, parent) {
        $(document).trigger('close.facebox');
        $.post('<%= url_for :controller => "hardware", :action => "destroy" %>',
               {id: id},
                function(data,status){
                  processTree();
                  if (data.alert) {
                    $.jGrowl(data.alert);
                  }
                 }, 'json');
      }
   </script>
   <%= yield :scripts -%>
 </head>

 <body>
   <div id="side">
     <%= render :partial => '/layouts/tree' %>
   </div>

   <div id="tabs-and-content-container">
     <div id="main">
        <div id="content_area">

        </div>
     </div>
   </div>
 </body>
</html>
