!!!XML
%target_image{:id => image.id, :href => api_target_image_url(image.id) }
  - if @image.respond_to?('status')
    %status=@image.status
  - else
    %icicle= image.icicle
    %object_type= image.object_type
    %template= image.template
    %build{:href=>api_build_url(image.build.id), :id=>image.build.id}
    %provider_images
      - image.provider_images.each do |pimg|
        %provider_image{:id => pimg.id, :href => api_provider_image_url(pimg.id)}
