-if flash[:error]
  .error
    %p.text= flash[:error]
- if flash[:notice]
  .notice
    %p.text= flash[:notice]
- if flash[:warning]
  .warning
    %p.text= flash[:warning]
- if content_for?(:error_messages)
  = yield :error_messages
