-if flash[:warning]
  .error
    %p.text= flash[:warning]
- if flash[:notice]
  .notice
    %p.text= flash[:notice]
- if flash[:alert]
  .alert
    %p.text= flash[:alert]
- if content_for?(:error_messages)
  = yield :error_messages
