- if request.ssl?
  .panel#security
    %header.secure
      %h1 Encrypted Connection
      %span.expiration Expiration: Unknown
    .content
      %p
        <strong>Certificate issued by:</strong><br />Unknown Certificate Authority
      %p
        Your connection to Aeolus Conductor at #{h request.host} is currently <strong>secure and encrypted</strong> using SSL encryption (unknown strength).
      %p
        %input.button#show-login{:type => 'button', :value => 'Return to Login'}
    = image_tag 'login-card-logo-upstream.png', :id => 'logo'
-else
  .panel#security
    %header.unsecure
      %h1 Unencrypted Connection
    .content
      %p
        Your connection to Aeolus Conductor at #{h request.host} is currently unencrypted. This could lead to potential theft of sensitive information.
      %p
        If you believe this to be an error, please do not attempt to login; contact your system administrator immediately.
      %p
        %input.button#show-login{:type => 'button', :value => 'Return to Login'}
    = image_tag 'login-card-logo-upstream.png', :id => 'logo'
