#clear
  %h3 Basic Template Properties
  %ul
    %li
      %label Name
      = text_field_tag("xml[name]", @image_descriptor.xml.name)
    %li
      %label Description
      = text_field_tag("xml[description]", @image_descriptor.xml.description, :rows =>4)
    %li
      %label Template Category
      = select_tag("xml[category]", "<option>User - private</option>")
