%h3.disabled.gap Local Content to Bundle
%fieldset.clearfix
  = label_tag :local_bundle_name, 'Local:', :class => "disabled grid_2 alpha"
  = text_field_tag 'local_bundle_name[]', 'Bundle Name', :disabled => true, :class => "grid_8"
  .grid_6.omega
    %button{:type => 'button', :disabled => 'disabled'} Browse
    %button{:type => 'button', :disabled => 'disabled'} Config
    %button{:type => 'button', :disabled => 'disabled'} Metadata
    (
    %a{:href => '#'} Remove
    )
  .grid_2.alpha
    &nbsp;
  = text_field_tag 'local_bundle_name[]', 'Bundle Name', :disabled => true, :class => "grid_8"
  .grid_6.omega
    %button{:type => 'button', :disabled => 'disabled'} Browse
    %button{:type => 'button', :disabled => 'disabled'} Config
    %button{:type => 'button', :disabled => 'disabled'} Metadata
    (
    %a{:href => '#'} Remove
    )
