%fieldset.clearfix
  .search.grid_4.alpha
    %input{:type => "search", :placeholder => "Search for package", :name => 'package_search', :value => params[:package_search], :id => 'package_search'}
    %button.action{:id => 'package_search_button'}
  .grid_8
  %a.grid_4.omega Advanced Search

%ul.metagroups{:class => 'packagegroupsidebar grid_4 alpha'}
  %li
    = submit_tag 'Collections', :name => 'collections', :id => 'collections', :class => 'icon'
  - @metagroups.keys.sort.each do |cat|
    %li
      = submit_tag cat, :name => "metagroup_packages", :class => 'icon'
