%fieldset.clearfix
  .search.grid_4.alpha
    %input{:type => "search", :placeholder => "Search for package", :name => 'package_search', :value => params[:package_search], :id => 'package_search'}
    %button.action{:id => 'package_search_button', :name => 'package_search_button' , :value => 'true'}
  .grid_8
  %a.grid_4.omega Advanced Search

%ul.metagroups{:class => 'packagegroupsidebar grid_4 alpha'}
  %li
    = restful_submit_tag 'Collections', 'collections', collections_image_factory_templates_path, 'GET', {:id => 'collections', :class => 'icon'}
  - @metagroups.keys.sort.each do |cat|
    %li
      = restful_submit_tag cat, "metagroup_packages", metagroup_packages_image_factory_templates_path, 'GET', {:class => 'icon'}
