%ul{:class => 'packages_to_select'}
  - @packages.each do |pkg|
    %li
      = pkg[:name]
      %a{:class => 'select_package', :href => url_for(:action => 'select_package', :id => params[:id], :package => pkg[:name], :repository => pkg[:repository_id])}
        Select
