#clear
  %h3 Configuration Scripting
  %ul
    %li
      =check_box_tag("choose_file")
      =text_field_tag("choose_file","Choose a file")
      =submit_tag("Browse", :disabled =>true)
    %li
      =check_box_tag("puppet")
      %label Use Puppet
