#image_target_list{:class => 'target_list'}
  - if @image_descriptor.images.empty?
    .empty No images have been created yet.
  -else
    %ul
      - @image_descriptor.images.each do |image|
        %li
          %span{:class => 'actions'}
            &nbsp;
            - if Image::ACTIVE_STATES.include?(image.status)
              = link_to 'Cancel', {:controller => 'image', :action => 'cancel', :id => image, :template_id => @image_descriptor}
          %span{:class => 'status'}
            = image.status
          = @all_targets[image.target]['name']
          %p
            = image.created_at
          //%span{:style => 'float:right'}
          //  Cancel
