/* ------ General Layout ------ */

html {min-width:640px;}

#head h1 a {
	background:transparent url(../../images/mystery_cloud.png) no-repeat scroll 20px 50%;
  /*
    TODO: change this back to a real logo when we have one.
  */
	display:block;
	height:59px;
	overflow:hidden;
	text-decoration:none;
	text-indent:-9999px;
	width:87px;
}

#login-box {
	display:block;
	line-height:3.75ex;
	position:absolute;
	right:4ex;
	text-align:right;
	top:12px;
}

#login-box a {
  color: #337ACC;
}

/* Make buttons look like links */
.button_as_link {
  background: none;
  color: #666666;
  border: none;
  cursor: pointer;
}

#navcontainer {
	height:40px;
}

#navcontainer ul {
	padding-left: 0;
	margin-left: 0;
	background-color: #fff;
	color: #afb2bd;
	float: left;
	width: 100%;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a {
	padding: 12px 20px;
	border-top: solid 2px transparent;
	background: #fff;
	color: #afb2bd;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	float: left;
}

#navcontainer ul li a:hover {
	background: #fff;
	color: #989ba7;
}

#navcontainer ul li a.current {
	border-top: solid 2px #337acc;
	background: #e0eeff url(../../images/tab_bg.png) repeat-x;
	color: #404552;
}

#content {margin-left:0;}

#content table{width:100%;}

/* #content table tr.odd {background:#eef2f2;} */

#content table tr:hover {background: #fdfef1;}

#content table th, #content table td {
  border:1px solid #E1E1E3;
  border-right: 0;
  border-left: 0;
  padding:0;
  text-align:left;
}

#content table th {background: none;border-top: none;}

#content table div {
  padding: 0.5ex;
}

#content table th a {
  display: block;
  text-decoration: none;
}

#content table th a:hover {
  text-decoration: underline;
}

.sortup {
  background: transparent url('../../images/Sort_up_11.png') top center no-repeat !important;
}

.sortdown {
  background: transparent url('../../images/Sort_down_11.png') top center no-repeat !important;
}

.sortable:hover {/* background-color: #DDDDDD !important; */}

.selected {background: #fbf0a7 !important;}

.center {text-align:center;}

.pagination {padding-top: 1ex;}

#list-view {margin-bottom:2em;}


#detail-view {
  border-top: 2px solid #CECECE;
}

#graph {
  border: 1px solid #EFEFEF;
  margin-bottom: 1.5ex;
  height: 15ex;
}

#submit_for_list {
  float: right;
  background: none;
  border: 0;
  color: #337ACC;
  cursor: pointer;
  margin-right:12px;
  font-size: 1em;
  text-decoration: underline;
}

input#submit_for_list {
	margin:12px 16px 0 0;
	padding:0;
}

#detail_header {
  background-color: #EFEFEF;
  height: 5em;
  margin-bottom: 1em;
}

#detail_header h3 {
	color:#666666;
	margin: 8px 12px 12px 16px;
	display:inline-block;
	font-size: 1.2em;
}


/* ----- Backgrounds for states ----- */
.state-container {
  margin-left:5px;
  text-indent:12px;
}

.task-canceled {background:url(../../images/icon-canceled-11px.png) left center no-repeat;}
.task-failed {background:url(../../images/icon-failed-11px.png) left center no-repeat;}
.task-finished {background:url(../../images/icon-finished-11px.png) left center no-repeat;}
.task-paused {background:url(../../images/icon-paused-11px.png) left center no-repeat;}
.task-queued {background:url(../../images/icon-queued-11px.png) left center no-repeat;}
.task-running {background:url(../../images/icon-running-11px.png) left center no-repeat;}
.instance-unreachable {background:url(../../images/icon_unknown_11px.png) left center no-repeat;}
.instance-stopped {background:url(../../images/icon_stop_11px.png) left center no-repeat;}
.instance-suspended {background:url(../../images/icon_suspend_11px.png) left center no-repeat;}
.instance-saved {background:url(../../images/icon_save_11px.png) left center no-repeat;}
.instance-create_failed {background:url(../../images/icon_failed_11px.png) left center no-repeat;}
.instance-invalid {background:url(../../images/icon_warning_11px.png) left center no-repeat;}
.instance-pending {background:url(../../images/icon_queued_11px.png) left center no-repeat;}
.instance-running {background:url(../../images/icon_start_11px.png) left center no-repeat;}
.instance-creating {background:url(../../images/icon_startup_11px.png) left center no-repeat;}


/*  ----- Actions Toolbar --------  */
#toolbar {
  background: #e3eaf2;
  border-top: 1px solid #d1dfee;
  border-bottom: 1px solid #d1d7de;
  margin-bottom: 1em;
}

#toolbar img {
  margin: 0;
}

#toolbar ul{
  list-style: none;
  margin:0;
  padding:0;
}

#toolbar li {
  display: inline-block;
  position: relative;
  color: #666666;
  padding: 8px 16px;
}

#toolbar li:hover {
  background: #337ACC;
}

#toolbar li:hover > .button_as_link {
  color: #FFFFFF;
}

#toolbar li.current { /* This is not really needed right now, but will be useful when we add filters. */
  background: #4B95B8;
}

#toolbar li ul {
  display: none;
  position: absolute;
  top: 1em;
  left: 0;
  background: #bec7e0;   /* #F0F0F0; */
  padding: 4px;
}

#toolbar li ul li {
  display: block;
  white-space: nowrap;
  padding-right: 1em;
}

#toolbar li > ul {
  top: auto;
  left: auto;
}

#toolbar li:hover ul {display: block;}

/****** Notification styles ******/
#notification {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  position: absolute;
  z-index: 1;
  top: 2em;
  left: 35%;
  margin: 0 auto;
  padding: 1.5em;
  background: #337ACC;
  border: solid 0.2em;
}

.error-align {left: 25% !important;}

#notification > div {
  margin-bottom: 1em;
}

#notification h4 {
  text-indent: 3em;
}

#close-notify {
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  width:11px;
  height:11px;
  background: url(../../images/closebox-11px.png) no-repeat;
}

.success {
  width: 100%;
  background:url(../../images/icon_conf_success.png) left center no-repeat #CCFFCC;
  border: solid 0.2em green;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
}

.success li, .error li {
  margin-left:3em;
}

.error {
  width: 100%;
  background:url(../../images/icon_conf_error.png) left center no-repeat #EC9999;
  border: solid 0.2em red;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
}

.warning {
  width: 100%;
  background:url(../../images/icon_conf_warning.png) left center no-repeat #FFFFCC;
  border: solid 0.2em yellow;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
}
