/* @font-face setup */

@font-face {
  font-family: 'Overpass';
  src: url("..fonts/overpass_regular-web.eot");
  src: local("Overpass"), url("../fonts/overpass_regular-web.eot?#iefix") format("eot"), url("../fonts/overpass_regular-web.woff") format("woff"), url("../fonts/overpass_regular-web.ttf") format("truetype"), url("../fonts/overpass_regular-web.svg#webfontLTZe4IYH") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url("../fonts/overpass_bold-web.eot");
  src: local("Overpass Bold"), local("Overpass-Bold"), url("../fonts/overpass_bold-web.eot?#iefix") format("eot"), url("../fonts/overpass_bold-web.woff") format("woff"), url("../fonts/overpass_bold-web.ttf") format("truetype"), url("../fonts/overpass_bold-web.svg#webfontzAU82Ltw") format("svg");
  font-weight: bold;
  font-style: normal;
}



/* Adapted normalization */



.hidden {
    display: none;
}

.shell-design section {
    display: none;
}
.shell-design section.active {
    display: block;
}

.shell-design article, .shell-design aside, .shell-design details, .shell-design figcaption, .shell-design figure, .shell-design footer, .shell-design header, .shell-design hgroup, .shell-design nav, .shell-design section {
    display: block;
}

.shell-design a {
    color: #36c;
}
.shell-design a:visited {
    color: #36c;
}
.shell-design a:hover {
    color: #000;
}
.shell-design a:focus {
    outline: none;
    box-shadow: 0 0  3px 3px #fa0;
}

.shell-design a:hover, .shell-design a:active {
    outline: none;
}

.shell-design b, .shell-design strong {
    font-weight: bold;
}

.shell-design img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

.shell-design svg:not(:root) {
  overflow: hidden;
}



/* Some header-specific styling */



header.shell-design {
  background-color: #1a1f22;
  position: relative;
  color: #fff;
  height: 6.25em;
  border-bottom: .4em solid #060807;
  border-top: .4em solid #060807;
  box-shadow: inset 0em -0.1em #181c1e, inset 0px -2em 5em #101214;
}

header.shell-design h1 {
  font-size: 1em;
  text-transform: uppercase;
  position: absolute;
  top: .9em;
  left: 0;
  line-height: 1.5em;
  text-indent: 2em;
  color: #fff;
}

header.shell-design h1 em {
  border-left: .1em solid #fff;
  padding-left: .25em;
  margin-left: .25em;
  font-style: normal;
}

header.shell-design > article {
	line-height: 2em;
	position: relative;
	padding: 0em;
	padding-left: 20em;
}

/* Navigation */

nav#appnav {
  display: table;
  font-weight: normal;
  border: .2em solid #181c1e;
  border-bottom: none transparent 0px;
  margin-top: 2.25em;
  border-radius: .25em .25em 0em 0em;
  white-space: nowrap;
}

nav#appnav > ul > li > ul > li a {
  color: #777;
}

nav#appnav > ul > li {
  display: block;
  vertical-align: top;
  float: left;
}

nav#appnav > ul > li a {
  display: block;
  width: 100%;
  text-decoration: none;
  clear: both;
  padding: 0em;
  text-indent: 1.5em;
  text-transform: capitalize;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav#appnav > ul > li > a {
  color: #bbb;
  padding: .75em 1em;
  text-align: center;
  text-indent: 0em;
  border-style: none solid;
  border-width: 0px .1em;
  border-color: transparent #181c1e;
  background-color: #1f2123;
  box-shadow: inset 0px -3.5em 2em -2em #15191b;
}

nav#appnav > ul > li > a:active {
  color: #fff;
  background-color: #4a4e50;
}

nav#appnav > ul {
  display: table-row;
}

nav#appnav > ul > li > a:hover {
  /*box-shadow*/
  -webkit-box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.32);
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.32);
  cursor: pointer;
}

nav#appnav > ul > li {
  position: relative;
}

nav#appnav > ul > li > a:focus, nav#appnav > ul > li > a:active {
  box-shadow: inset 0px -4em 3em -2em rgba(0, 0, 0, 0.4);
}

nav#appnav > ul > li:hover > a {
  box-shadow: inset 0px -4em 3em -2em rgba(0, 0, 0, 0.4);
}

nav#appnav > ul > li:hover li:hover > a {
  background-color: #4a4e50;
  color: #fff;
}

nav#appnav > ul > li:hover > a {
  background-color: #4a4e50;
  color: #fff;
}

nav#appnav > ul > li a:hover, nav#appnav > ul > li a:focus {
  background-color: #4a4e50;
  color: #fff;
}

nav#appnav > ul > li:first-child > a {
  /*border-radius*/
  -webkit-border-radius: .225em 0em 0em 0em;
  -moz-border-radius: .225em 0em 0em 0em;
  border-radius: .225em 0em 0em 0em;
  border-left: 0px transparent none;
}

nav#appnav > ul > li:last-child > a {
  /*border-radius*/
  -webkit-border-radius: 0em .225em   0em 0em;
  -moz-border-radius: 0em .225em  0em 0em;
  border-radius: 0em .225em  0em 0em;
  border-right: 0px transparent none;
}

nav#appnav > ul > li > ul > li:last-child > a {
  /*border-radius*/
  -webkit-border-radius: 0em 0em .25em .25em;
  -moz-border-radius: 0em 0em .25em .25em;
  border-radius: 0em 0em .25em .25em;
}

nav#appnav ul a:after {
  z-index: 3;
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
}

nav#appnav > ul > li a:focus ~ ul, nav#appnav > ul > li:hover ul {
  background-color: white;
  /*box-shadow*/
  -webkit-box-shadow: 0em 0.025em 0.5em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0em 0.025em 0.51em rgba(0, 0, 0, 0.5);
  box-shadow: 0em 0.025em 0.51em rgba(0, 0, 0, 0.5);
  /*border-radius*/
  -webkit-border-radius: 0em 0em .25em .25em;
  -moz-border-radius: 0em 0em .25em .25em;
  border-radius: 0em 0em .25em .25em;
  display: block;
  width: 100%;
  top: 0em;
  left: 0;
}

/* I'm doubtful that this actually matches anythign */
.no-boxshadow header nav#appnav > ul > li:hover ul {
  border: 1px solid #ccc;
  margin: -0.1px;
}

header nav#appnav > ul > li > ul > li:hover {
  position: relative;
}

header nav#appnav > ul > li:hover > ul > li > ul {
  position: absolute;
  box-shadow: none;
  background-color: transparent;
  top: 0em;
  left: 100%;
  padding-top: 0em;
}

header nav#appnav > ul > li:hover > ul > li > ul > li {
  display: none;
}

header nav#appnav > ul > li a:focus ~ ul, header nav#appnav > ul > li:hover > ul {
  z-index: 1;
  padding-top: 1em;
  display: block;
  position: absolute;
  top: 3.5em;
  opacity: 1;
}

header nav#appnav > ul > li a:focus ~ li ul li, header nav#appnav > ul > li:hover > ul > li:hover > ul > li {
  display: block;
}

header nav#appnav > ul > li a:focus ~ li ul, header nav#appnav > ul > li:hover > ul > li:hover ul {
  /*box-shadow*/
  -webkit-box-shadow: 0.025em 0.025em 0.51em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0.025em 0.025em 0.51em rgba(0, 0, 0, 0.5);
  box-shadow: 0.025em 0.025em 0.51em rgba(0, 0, 0, 0.5);
  /*border-radius*/
  -webkit-border-radius: 0em .25em .25em 0em;
  -moz-border-radius: 0em .25em .25em 0em;
  border-radius: 0em .25em .25em 0em;
  background-color: white;
  z-index: 1;
  opacity: 1;
}

/*
 header nav#appnav > ul > li > ul > li
*/

header nav#appnav > ul > li > ul > li > ul li:first-child a {
	/*border-radius*/
	-webkit-border-radius: .0em .25em 0em 0em;
	-moz-border-radius: .0em .25em 0em 0em;
	border-radius: .0em .25em 0em 0em;
}

header nav#appnav > ul > li > ul > li > ul li:last-child a {
  /*border-radius*/
  -webkit-border-radius: 0em 0em .25em .0em;
  -moz-border-radius: 0em 0em .25em .0em;
  border-radius: 0em 0em .25em .0em;
}

header nav#appnav > ul > li > ul > li > ul li:first-child:hover a:after {
  z-index: 9;
  display: block;
  position: absolute;
  top: .5em;
  left: 0em;
  content: "";
  height: 0;
  width: 0;
  border-width: .5em 0em  .5em .5em;
  border-style: solid none solid solid;
  border-color: transparent  transparent transparent #fff;
}

header nav#appnav > ul > li > ul > li ul:before {
  z-index: 2;
  display: block;
  position: absolute;
  top: 0em;
  left: -0.14em;
  content: "";
  height: 0;
  width: 0;
  border-width: 1em 0em  1em 1em;
  border-style: solid none solid solid;
  border-color: transparent  transparent transparent transparent;
}

header nav#appnav > ul > li > ul > li ul:after {
  z-index: 1;
  display: block;
  position: absolute;
  top: .5em;
  left: -1em;
  content: "";
  height: 0;
  width: 0;
  opacity: 1;
  z-index: 2;
  border-width: .5em 0em  .5em .5em;
  border-style: solid none solid solid;
  border-color: transparent  transparent transparent #ccc;
}

header nav#appnav > ul > li > ul > li a:hover ~ ul:before, header nav#appnav > ul > li > ul > li:hover ul:before {
  top: 0em;
  border: solid 1em #4a4e50;
  left: -1.98em;
}

header nav#appnav > ul > li > ul > li a:hover ~ ul:after, header nav#appnav > ul > li > ul > li:hover ul:after {
  top: 0em;
  border-color: transparent  transparent transparent #4a4e50;
  left: 0em;
  content: "";
  height: 0;
  width: 0;
  border-width: 1em 0em  1em 1em;
  border-style: solid  none solid solid;
}

/* The below is good */

header nav#appnav > ul > li > ul {
  position: absolute;
  left: 0;
  display: none;
  line-height: 2em !important;
  min-width: 16em;
  max-width: 22em;
}

header nav#appnav > ul > li {
  position: relative;
}

header nav#appnav > ul > li > a.active {
  position: relative;
}

header nav#appnav > ul > li > a.active:after {
  z-index: 9;
  position: absolute;
  top: 3.1em;
  left: 50%;
  margin-left: -0.55em;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-width: 0em .55em .55em  .55em;
  border-style: none solid solid  solid;
  border-color: transparent transparent #fff transparent;
}



/* Some new stuff */

header.shell-design > article section:last-child {
	text-align: right;
	position: absolute;
	top: -1.75em;
	right: 0em;
	margin: 0 auto;
	display: block;
}

header.shell-design > article section:last-child a {
  border: 0.1em solid rgba(255, 255, 255, 0.12);
  color: #ccc !important;
  border-radius: 0em 0em .5em .5em;
  color: #fff;
  text-decoration: none;
  background-color: #181c1e;
  box-shadow: inset 0px 1.5em 1em -1em rgba(222, 222, 255, 0.1);
  display: inline-block;
  padding: .1em 1em;
  position: relative;
  margin: 1.25em .1em;
}

header.shell-design > article section:last-child a:last-child {
  padding-right: 2em;
}

header.shell-design > article section:last-child a:last-child:after {
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  position: absolute;
  top: .75em;
  right: .5em;
  border-style: solid solid none solid;
  border-width: .5em .5em 0em .5em;
  border-color: #666 transparent transparent;
}

header.shell-design > article section:last-child a:first-child {
  padding-left: 3em;
}

header.shell-design > article section:last-child a:first-child:after {
  /*content: "!";*/
  color: #2e4e66;
  text-align: center;
  background-color: #ccc !important;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: .25em;
  left: .5em;
  line-height: 1em;
  font-size: 1.5em;
  display: block;
  background-color: transparent;
  z-index: 2;
}





/* Is this legit? */
.shell-design * {
  /*
    this is life saving but locks us into > ie8 will consider this polyfil for lt-ie8
    https://github.com/Schepp/box-sizing-polyfill
  */
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  background-repeat: no-repeat;
  vertical-align: middle;
  font-family: overpass;
}

.shell-design a:hover, .shell-design a:focus, .shell-design a:active {
  color: #fa0;
}

.shell-design a:focus {
  outline: none !important;
}


.shell-design a:link {
  color: #36c;
}



/* Wait, do we actually want this? */
.shell-design article:before {
  content: "";
  display: table;
}
.shell-design article:after {
  content: "";
  display: table;
  clear: both;
}


/* Fix up the user dropdown menu  */

body #primary-container #content{/*box-shadow*/
-webkit-box-shadow:0px .5em 3em #777 !important;
   -moz-box-shadow:0px .5em 3em #777 !important;
        box-shadow:0px .5em 3em #777 !important;
}

body.administer nav#administer_nav{
/*box-shadow*/
-webkit-box-shadow:inset 0em -1em 2em rgba(0, 0, 0, 0.05), 1px 1px 0px #ccc, -1px 1px 0px #ccc !important;
   -moz-box-shadow:inset 0em -1em 2em rgba(0, 0, 0, 0.05), 1px 1px 0px #ccc, -1px 1px 0px #ccc !important;
        box-shadow:inset 0em -1em 2em rgba(0, 0, 0, 0.05), 1px 1px 0px #ccc, -1px 1px 0px #ccc !important;
}



section#usermenu{background-image: none !important; position:absolute; left:80.5%; background-color: transparent !important; border-color: transparent;  border-radius: 0 !important; width:
20%; z-index:9999  }
section#usermenu > a{background-image: none !important; background-color: transparent; color: #fff !important; width: 100%; }



section#usermenu  > ul{display:none;border: none; background-color: transparent !important;  padding:0em; margin: 0em; top: 4em; float:left; position: absolute; z-index:9999; width: 100%;}
section#usermenu  > ul:before{display:none; content:none}
section#usermenu:hover  > ul{display:block; border-color: transparent !important; background-image: none !important;  box-shadow: none !important; }

section#usermenu > ul > li{padding:0em; margin:0em; border-color: transparent !important; background-image: none !important; box-shadow: none !important; }
section#usermenu > ul  li a{padding:0em; margin:0em; padding: .5em 2em; border-radius: 0; border-color: transparent !important;box-shadow: none !important; }

section#usermenu > ul  li a:hover{color:#FFF !important; text-decoration: underline;}
section#usermenu > ul  li:last-child a{border-radius: 0em 0em .51em .51em}
section#usermenu > ul  li a:after{content:none;}
