/* header style */

.header_logo {
    position:absolute;
    top:10px;
    left:10px;
  color: #B5B5B5;
}

.header_logo span {
    text-transform: uppercase;
    margin-left: 5px;
    font-weight: bold;
    letter-spacing: -0.02em;
}

ul.nav {
  padding: 0;
  padding-top: 1em;
  margin: 0;
  white-space: nowrap;
  list-style-type: none;
}

ul.nav li {
    display: inline;
    font-size: 120%;
    padding: 3px 15px;
    color : #b3b3b3;
}

ul.nav li a {
   color: #313a3d;
   text-shadow: 0 1px 1px #FFF;
}

ul.nav li.selected {
    background: #cbd6db !important;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-box-shadow: 0 1px 1px #efefef;
}

ul.nav li:hover {
    background: #dedede;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}

.header_menu_wrapper {
  padding: 0;
  margin: 35px 0 0 0;
  float:left;
  height: 35px;
  width: 230px;
  background: #CCCCCC;
}

.header_menu {
  padding: 5px 0 0 10px;
  margin: 1px;
  background: #CCCCCC url(../images/bg_navtoolbar.png) repeat-x top;
  font-size: 110%;
  line-height:1.5;
  height: 26px;
  width: 216px;
  border: #FFFFFF solid 1px;
}

.header_menu_greybox {
  padding: 0;
  margin: 35px 0 0 0;
  float:left;
  height: 35px;
  width: 230px;
  background: #CCCCCC;
}

#hi-username{
  margin-right: 15px;
  float: left;
}

#search-form{
  float: left;
}

#help-link {
}

/* dashboard style */
.dashboard_column{
  float: left;
  width: 50%;
}

.dashboard_section_summary {
  background: #F2F2F2;
  font-size: 0.8em;
  font-weight: bolder;
  margin: 10px 0;
  padding: 5px 0px 5px 5px;
}

.dashboard_section_summary p {
  display: inline;
  float: left;
  margin: 3px 0 3px 0;
}

.dashboard_section_summary img:first-child {
  padding-right: 5px;
}

.dashboard_section_summary img {
  vertical-align: middle;
  float: right;
}

#getting_started_dashboard_section {
  background: #F2F2F2;
  width: 850px;
  font-size: .9em;
  padding: 10px;
  margin: 10px 0px 10px 5px;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#getting_started_dashboard_section p {
  padding-bottom: 5px;
}

#getting_started_dashboard_section ul {
  width: 100%;
  height: 120px;
  padding-left: 7px;
}

#getting_started_dashboard_section ul li{
  display: inline;
  float: left;
  width: 205px;
  padding: 0 7px 0 10px;
  border-right: 1px solid black;
}

#getting_started_dashboard_section ul li:last-child {
  border-right: none;
  width: 150px;
}

#getting_started_dashboard_section img {
  height: 91px;
}

#getting_started_links a {
  float: right;
}

#actions_dashboard_section {
  height: 100px;
  border: 1px solid #DDD;
  padding: 15px;
  margin: 5px 15px 15px 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #ccc;
}

#actions_dashboard_section h2 {
  padding: 0;
  margin: 0 0 15px;
  letter-spacing: -0.02em;
  color: #4b5d63;
}

#actions_dashboard_section a {
  display: block;
  float: left;
  margin: 0px 15px 5px 0px;
  color: #0075c0;
  text-decoration: underline;
}

#service_quality_dashboard_section {
  border: 1px solid #DDD;
  padding: 15px;
  margin: 0 15px 15px 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #ccc;
}

#service_quality_dashboard_section h2 {
  padding: 0;
  margin: 0 0 15px;
  letter-spacing: -0.02em;
  color: #4b5d63;
}

.provider_service_quality_graph {
  width: 100px;
  height: 50px;
  float: left;
  margin: 0px 5px 0px 5px;
}

.provider_service_quality_graph_summary {
  float: left;
  width: 60px;
  height: 15px;
  padding: 20px 0 24px 0;
}

#key_indicators_dashboard_section {
  height: 220px;
  border: 1px solid #DDD;
  padding: 15px;
  margin: 0 15px 15px 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #ccc;
}

#key_indicators_dashboard_section h2 {
  padding: 0;
  margin: 0 0 15px;
  letter-spacing: -0.02em;
  color: #4b5d63;
}

#key_indicators_dashboard_section ul {
  float: left !important;
  width: 195px;
  margin: 0;
  padding: 0;
  list-style: none;
}

#key_indicators_dashboard_section ul li {
  width: 80%;
  margin: 0;
  padding-bottom: 10px;
}

#key_indicators_dashboard_section .count {
  float: right;
}

#key_indicators_dashboard_section .instance_graph {
  float: left;
}

#provider_instances_graph {
  width: 250px;
  float: left;
}

#quota_usage_dashboard_section {
  border: 1px solid #DDD;
  padding: 15px;
  margin: 5px 15px 15px 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #ccc;
}

#quota_usage_dashboard_section h2 {
  padding: 0;
  margin: 0 0 15px;
  letter-spacing: -0.02em;
  color: #4b5d63;
}

.account_quota_usage_graph_summary {
  padding: 15px 15px;
  display: inline;
  float: left;
  width: 45%
}

.account_quota_usage_graph_key {
  float: right;
  vertical-align: top;
  font-size: 0.8em;
  text-align: right;
  width: 100%;
  height: 20px;
  padding: 0 15px 0 0;
}

.account_quota_usage_history_graph {
  display: inline;
  float: left;
  margin-left: 10px;
  border: 1px solid black;
  width:  120px;
  height: 20px;
}

.account_quota_usage_current_graph {
  display: inline;
  float: left;
  margin: 0 0 10px 10px;
  width:  140px;
  height: 50px;
}

.pool_quota_usage_summary {
  display: inline;
  float: left;
  padding-left: 15px;
  width: 15%;
}

.pool_quota_usage_limit {
  display: inline;
  float: left;
  width: 33%;
  height: 25px;
  border: 1px solid black;
  margin-left: 17px;
}

.pool_quota_usage_instances {
  display: inline;
  float: left;
  width: 33%;
  height: 25px;
  border: 1px solid black;
  margin-left: 17px;
  margin-bottom: 15px;
}

#image_descriptor_nav {
  margin: 2px 0px 0 0px;
  width: 98%;
}

#image_descriptor_nav h2 {
  height : 29px;
  font-weight : normal;
  padding : 10px 10px 0px 10px;
  margin : 0px;
}

#image_descriptor_nav ul {
  margin : 20px;
  width: 100%;
}

#image_descriptor_nav ul li {
  display: inline;
  float: left;
  width: 200px;
  border: 1px solid #ccc;
  border-top : none;
  border-right : none;
  padding-left: 10px;
  clear: none;
  font-size: 1em;
}

#image_descriptor_nav ul li h4 {
  margin-top : 0px;
  margin-bottom : 0.5em;
}

#image_descriptor_nav ul li p {
  margin-top : 0;
  margin-bottom : 2em;
  color : #808080;
}

#image_descriptor_nav ul li.selected p {
  color : #000;
}

#image_descriptor_form {
  border : none;
  padding : 1em 0;
  background : none;
  width: 800px;
  margin: 20px;
  display: inline-block;
}

/* dcloud form redefines all input fields */
#image_descriptor_form input {
  width: auto;
}

#image_descriptor_form ul li textarea,
#image_descriptor_form ul li select,
#image_descriptor_form ul li input[type=text] {
  width: 302px;
  float : left;
  border-top: 1px solid #7f7f7f;
  background : #fff;
  border-bottom: 1px solid #7f7f7f;
  border-left : 1px solid #000;
  border-right : 1px solid #000;
  -moz-border-radius : 4px;
}

#image_descriptor_form .description {
  float : left;
  width : 300px;
  font-size : 95%;
  padding-left : 1em;
  padding-bottom: 20px;
}

#image_descriptor_form label {
  color : #000;
  font-size : 90%;
  font-weight : bold;
}

#image_descriptor_form label.plain {
  font-weight : normal;
}

#image_descriptor_form .pkglist {
  float: left;
  width: 380px;
  height: 300px;
  overflow: auto;
  background-color: white;
  border: 2px solid #ccc;
  -moz-border-radius: 6px;
}

#image_descriptor_form .submit {
  padding-top: 20px;
}

#image_descriptor_form .pkglist .action_link {
  float:right;
  width: 60px !important;
  color: blue;
}

#image_descriptor_form .selection_list > li {
  padding-bottom: 10px;
}

#image_descriptor_form .groupkgs {
  padding-left: 20px;
}

#image_descriptor_form .pkglist .ui-tabs {
  padding : 0;
}

#image_descriptor_form .pkglist .ui-tabs .ui-tabs-panel {
  padding : 1em 0.5em;
}

#image_descriptor_form .left-pkglist .ui-widget-header {
  height : 26px;
  padding : 10px;
}

#image_descriptor_form .pkglist ul.ui-tabs-nav {
  background-color: white;
  width : 379px;
  height : 44px;
}

#image_descriptor_form .pkglist .select_repository {
  float:right;
  padding: 5px 0px 5px 0px;
}

#image_descriptor_form .pkglist .select_repository select {
  width:150px;
}

#image_descriptor_form #selected_packages {
  padding: 10px;
}

#image_descriptor_form .side_panel {
  width: 150px;
  float: left;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  min-height: 300px;
}

#image_descriptor_form .side_panel label {
  float: none;
  font-size: 1em;
  padding: 5px;
}

#image_descriptor_form .side_panel li {
  padding-bottom: 20px;
}

#image_descriptor_form .main_panel {
  width: 580px;
  float: left;
  border: 1px solid #ccc;
  margin: 5px;
  min-height: 300px;
  padding: 10px;
}

#image_descriptor_form .main_panel .image_build_panel {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

#image_descriptor_form .main_panel .image_build_panel input {
  font-size: 1em;
}

#image_descriptor_form .expand_target_list_button {
  float: right;
  display: none;
}

#image_descriptor_form .target_list li {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 5px;
}

#image_descriptor_form .target_list li .status {
  float: right;
  width: 100px;
}

#image_descriptor_form .target_list li .actions {
  float: right;
  width: 100px;
}

#image_descriptor_form .target_list .empty {
  text-align: center;
  padding: 30px;
}
