/* header style */

.header_logo {
    position:absolute;
    top:10px;
    left:10px;
  color: #B5B5B5;
}

.header_logo span {
    text-transform: uppercase;
    margin-left: 5px;
}

ul.nav {
  padding: 0;
  padding-top: 1em;
  margin: 0;
  white-space: nowrap;
  list-style-type: none;
}

ul.nav li {
    display: inline;
    font-size: 120%;
    padding: 5px;
}

ul.nav li.selected {
    background: #cacaca;
}

.header_menu_wrapper {
  padding: 0;
  margin: 35px 0 0 0;
  float:left;
  height: 35px;
  width: 230px;
  background: #CCCCCC;
}

.header_menu {
  padding: 5px 0 0 10px;
  margin: 1px;
  background: #CCCCCC url(../images/bg_navtoolbar.png) repeat-x top;
  font-size: 110%;
  line-height:1.5;
  height: 26px;
  width: 216px;
  border: #FFFFFF solid 1px;
}

.header_menu_greybox {
  padding: 0;
  margin: 35px 0 0 0;
  float:left;
  height: 35px;
  width: 230px;
  background: #CCCCCC;
}

#hi-username{
  margin-right: 15px;
  float: left;
}

#search-form{
  float: left;
}

#help-link {
}

/* dashboard style */
#getting_started_dashboard_section {
  background: #F2F2F2;
  width: 850px;
  font-size: .9em;
  padding: 10px;
  margin: 10px 0px 10px 5px;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#getting_started_dashboard_section p {
  padding-bottom: 5px;
}

#getting_started_dashboard_section ul {
  width: 100%;
  height: 120px;
  padding-left: 7px;
}

#getting_started_dashboard_section ul li{
  display: inline;
  float: left;
  width: 205px;
  padding: 0 7px 0 10px;
  border-right: 1px solid black;
}

#getting_started_dashboard_section ul li:last-child {
  border-right: none;
  width: 150px;
}

#getting_started_dashboard_section img {
  height: 91px;
}

#getting_started_links a {
  float: right;
}

#actions_dashboard_section {
  width: 390px;
  height: 100px;
  border: 1px solid black;
  background: #F2F2F2;
  padding: 5px 0 5px 15px;
  margin: 10px 0px 10px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#actions_dashboard_section h2 {
  padding: 0;
}

#actions_dashboard_section a {
  display: block;
  float: left;
  margin: 0px 15px 5px 0px;
  color: blue;
  text-decoration: underline;
}
