@charset "UTF-8";

/****************
html elements
 **/

html {
  /*overflow: hidden;*/
  font-size: small;
  min-width: 900px;
  min-height: 400px;
}

body {
  /*overflow: hidden;*/
  font-family:"Lucida Grande","Luxi Sans","Bitstream Vera Sans","Trebuchet MS",helvetica,verdana,arial,sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color:#333333;
  font-size: 90%;
}

img {
  border-style: none;
}


a { color:#000000; text-decoration: none;}

h2, h3 {
  font-weight: normal;
}

/**************************
oVirt layout components
 **/

#header {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  overflow: hidden;
  background:#535353 url(../images/bg_header.png) repeat-x top;
}

#side {
  padding: 5px 0 0 5px;
  margin: 0;
  position: absolute;
  top: 70px;
  left: 0px;
  bottom: 0px;
  overflow: auto;
  width: 224px;
  background-color:#FFFFFF;
  border-right: 1px #CCCCCC solid;
}

#side h3 {
  color: #999999;
  font-size: 1em;
  margin: 1em 1em .5em 1em;
  text-transform: uppercase;
}


#main {
  padding: 0;
  margin-left: 0;
  position: absolute;
  top: 70px;
  left: 230px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  background-color:#FFFFFF;
  border-left:#CCCCCC solid 0px;
}

/*  ----- Right side of Header --------  */

.header_info {
  padding: 10px 31px 0px 10px;
  margin: 0;
  float: right;
  text-align: right;
  font-size: 100%;
  color: #B5B5B5;
}
.header_info a         { font-weight: bold; }
.header_info a:link    { color: #000; text-decoration: none; }
.header_info a:active  { color: #000; text-decoration: none; }
.header_info a:visited { color: #000; text-decoration: none; }
.header_info a:hover   { color: #000; text-decoration: none; }

#textfield_effect {
  border-width: 1px;
  border-style: solid;
  border-color: #7A7A7A;
  padding-left: 5px;
  background: #4A4A4A;
  font-size: 100%;
  color: #FFFFFF;
  width: 100px;
  height: 16px;
}

/*  ----- Blue Tabbed Navigation --------  */
.ui-tabs-nav {
  margin:0;
  padding: 0;
  background: none;
  list-style-type: none;
  float: left;
  font-size: 110%;
}
.ui-tabs-nav li {
  margin: 0 1px 0 1px;
  padding: 0;
  float: left;
}
.ui-tabs-nav a {
  float:left;
  padding: 0 15px 0 15px;
  color: #CCCCCC;
  text-decoration: none;
  line-height: 2.3;
  height: 24px;
  text-align: center;
  background: none;

}
.ui-tabs-nav a:hover {color:#FFFFFF; border-bottom: 5px solid #537585;}
.ui-tabs-nav a:focus, .ui-tabs-nav a:active {outline-style: none;}
.ui-tabs-selected a {color:#FFFFFF; outline-style: none; height: 24px; line-height:1.6; border-bottom: 5px solid #5599B8;}

.ui-tabs-hide {/*display:none;*/}

/*  ----- PopUp Dialog --------  */


.dialog_title {
  background:#DEE7EB;
  padding:15px;
  width:600px;
}

.dialog_title_small {
  background:#DEE7EB;
  padding:15px;
  min-width: 500px;
}

.header {
  font-size: 180%;
  line-height: 1.6;
}

.dialog_body {
  overflow: auto;
  height: 350px;
}

.confirm_dialog_title {
  width:400px;
  padding: 15px;
  font-size: 110%;
  background:url(../images/bg_warningMessage.png) top repeat-x;
}
.confirm_dialog_header {
  background:url(../images/icon_warning.png) top left no-repeat;
  padding: 0 0 0 45px;
  min-height:36px;

}
.confirm_dialog_footer {
  height: 37px;
  text-align:right;
  padding: 5px 9px 0 0;
}

.button {
  padding: 0 0 0 2px;
  float:right;
 }

 .button_left_blue {
   background:url(../images/button_left.png) no-repeat;
   width: 6px;
   height: 29px;
   float: left;
}
.button_middle_blue {
  background:url(../images/button_middle.png) repeat-x;
  height: 29px;
  float: left;
  color:#FFFFFF;
  line-height: 2.3;
  font-size: 105%;
  display:block;
}
.button_right_blue {
  background:url(../images/button_right.png) no-repeat;
  width: 6px;
  height: 29px;
  float: left;
}
.button_middle_blue a {color:#FFFFFF; text-decoration: none; display:block; padding: 0 10px 0 10px;}
.button_middle_blue a:hover {color:#E7EFF6; text-decoration:none; padding: 0 10px 0 10px;}

.button_left_grey {
  background:url(../images/button_left_grey.png) no-repeat;
  width: 6px;
  height: 29px;
  float: left;
}
.button_middle_grey {
  background:url(../images/button_middle_grey.png) repeat-x;
  height: 29px;
  float: left;
  color:#FFFFFF;
  line-height: 2.3;
  font-size: 105%;
  display:block;
}
.button_right_grey {
  background:url(../images/button_right_grey.png) no-repeat;
  width: 6px;
  height: 29px;
  float: left;
}
.button_middle_grey a {color:#FFFFFF; text-decoration: none; display:block; padding: 0 10px 0 10px;}
.button_middle_grey a:hover {color:#E7EFF6; text-decoration:none; padding: 0 10px 0 10px;}


.fieldWithErrors {
  background-color:#FFB2B2;
  border:3px solid #FFB2B2;
}

.errorExplanation {
  color:#333333;
  padding: 2px;
}
