/* Header */
header#header #appnav ul li a {background: #01536d;}
header#header #nav-container {bottom:-2px;}
header#header .header-widget {
  background-color: #01536d;
  filter:none;
}

/* Main container */
article#maincontent {position:relative;}
section.maincontent {
  border: #c4c4c4 1px solid;
  border-top:none;
}

/* Provider toggle */
#maincontent section.maincontent .page-header .obj_actions {overflow:hidden;}

#maincontent section.maincontent .page-header INPUT[type='submit'].on.provider_toggle {
  float:right;
}

#maincontent section.maincontent .page-header INPUT[type='submit'].off.provider_toggle {
  float:right;
}
