/*display table and table-cell ie fix*/
dl.alerts li.alert{ margin-bottom: 5px; }
dl.alerts li.alert dt, dl.alerts li.alert dd{ display: inline; }

/* add proper spacing to the catalog dropdown button on pools#show */
#obj_actions .catalog_link {
  margin-right: 5px;
}

/* fix the height of the submit buttons */
input[type="submit"].button {
  height: 28px;
}

/* fix the layout in the Select deployable from catalog selection page */
ul.catalog_pretty .summary {
  position: relative;
  height: 100%;
}
ul.catalog_pretty .controls {
  position: absolute;
  right: 0;
  top: 0;
}

/*users-show display-table fix*/
dl.user_stats ul li{
  float: left;
  width: 180px;
}

/*fix pool_families tables*/
table.pool_families{
  border-collapse: collapse;
}

/* fix the separator colour in the Instance pretty view cards */
#content ul.instances-array li.instance hr {
  height: 2px;
}

/* center the Stop/Restart buttons in the Instance pretty view cards */
#content li.instance .actions {
  text-align: center;
}
#content li.instance .actions * {
  text-align: left;
}
#content li.instance .actions ul {
  zoom: 1;
  display: inline;
}
