/*display table and table-cell ie fix*/
dl.alerts li.alert{ margin-bottom: 5px; }
dl.alerts li.alert dt, dl.alerts li.alert dd{ display: inline; }

/* add proper spacing to the catalog dropdown button on pools#show */
#obj_actions .catalog_link {
  margin-right: 5px;
}

/* fix the height of the submit buttons */
input[type="submit"].button {
  height: 28px;
}

/* fix the layout in the Select deployable from catalog selection page */
ul.catalog_pretty .summary {
  position: relative;
  height: 100%;
}
ul.catalog_pretty .controls {
  position: absolute;
  right: 0;
  top: 0;
}
