!!! XML
%api{:href => api_url}
  %images{:href => api_images_url}
  %builds{:href => api_builds_url}
  %pools{:href => api_pools_url}
  %provider_images{:href => api_provider_images_url}
  %target_images{:href => api_target_images_url}
  %providers{:href => api_providers_url}
  %provider_accounts{:href => api_provider_accounts_url}
