!!! XML
%provider_realm{:id => provider_realm.id, :href => api_provider_realm_url(provider_realm)}
  %name= provider_realm.name
  %external_key= provider_realm.external_key
  %provider_accounts
    - @provider_accounts.each do |paccount|
      %provider_account{:id => paccount.id, :href => api_provider_account_url(paccount)}
  =render '/frontend_realms/list',
          :realms => provider_realm.frontend_realms,
          :shallow => true,
          :frontend_realms_href => api_provider_realm_frontend_realms_url(provider_realm)
  %provider{:id => provider_realm.provider.id, :href => api_provider_url(provider_realm.provider)}