%table
  %thead
    %tr
      %th.show
        =t 'realms.properties.realm_details'
      %th.show
  %tbody
    %tr
      %td
        %label= t'realms.properties.realm_name'
      %td
        = @realm.name
