- error_messages_for @realm
%fieldset
  = form.label :name, 'Realm Name'
  = form.text_field :name, :title => 'realm_name', :value => @realm.name, :class => 'em long'
%fieldset.options
  = form.submit "Save",  :class => "submit button"
