= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1=t 'realms.new.create_realm'
  #obj_actions
    Return to:
    = link_to t('realms.realms'), realms_path, :class => 'rounded-link'

%section.admin-content-section.users
  .content
    = form_for @realm, :url => realms_path, :html => {:class => 'generic'} do |f|
      = render :partial => "form", :locals => { :form => f }
