= render :partial => 'layouts/admin_nav'
= render :partial => 'section_header'

%section.content-section.users
  %header
    %h2 Create a new Realm

  .content
    = form_for @realm, :url => realms_path, :html => {:class => 'generic'} do |f|
      = render :partial => "form", :locals => { :form => f, :cancel_path => realms_path }
