= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1 Create New Realm
  #obj_actions
    Return to:
    = link_to "Cloud Providers", edit_provider_path(Provider.all.first, :view => 'filter', :details_tab => 'realms'), :class => 'rounded-link'

%section.admin-content-section.users
  .content
    = form_for @realm, :url => realms_path, :html => {:class => 'generic'} do |f|
      = render :partial => "form", :locals => { :form => f }
