!!! XML
%pool_family{:id => pool_family.id, :href => api_pool_family_url(pool_family)}
  %name= pool_family.name
  -if pool_family.quota.maximum_running_instances
    %quota{ :maximum_running_instances => pool_family.quota.maximum_running_instances}
  -else
    %quota{ :maximum_running_instances => t('pools.form.unlimited')}
  %pools
    - pool_family.pools.each do |pool|
      %pool{:id => pool.id, :href => api_pool_url(pool.id)}
  %provider_accounts
    - pool_family.provider_accounts.each do |pa|
      %provider_account{:id => pa.id, :href => api_provider_account_url(pa.id)}