%header.page-header
  %h1{:class => controller.controller_name} Pool Families
  #obj_actions.button-group
    = link_to 'New Pool Family', new_pool_family_url, :class => 'button primary', :id => 'new_pool_family_button'
  .corner &nbsp;
