= render :partial => 'layouts/admin_nav'

%header.admin-page-header
  %h1= @pool_family.name
  #obj_actions
    Return to:
    = link_to 'Environments', pool_families_path, :class => 'rounded-link'

%section.admin-content-section.pool_family
  %header
    %h2.settings Settings

  .content
    -form_for @pool_family, :url => pool_family_path(@pool_family), :html => { :method => :put, :class => 'generic' } do |f|
      = render :partial => 'form', :locals => { :form => f, :cancel_path => providers_path }
