%h3
  Editing
  = @pool_family.name
  Pool Family

-form_for @pool_family, :url => pool_family_path(@pool_family), :html => { :method => :put } do |f|
  = render :partial => 'form', :locals => { :form => f, :cancel_path => providers_path }
