= render :partial => 'layouts/admin_nav'
= render :partial => 'section_header'

%section.content-section.pool_family
  %header
    %h2 New Pool Family

  .content
    = form_for @pool_family, :url => pool_families_path, :html => {:class => 'generic'} do |f|
      = render :partial => "form", :locals => { :form => f, :cancel_path => pool_families_path }
