- menu = [ { :text => "Summary", :action => "index" }, |
  { :text => "Alerts", :action => "alerts" }, |
  { :text => "Service Quality", :action => "service_quality" }, |
  { :text => "Quota Usage", :action => "quota_usage" }, |
  { :text => "Billing", :action => "billing" }, |
  { :text => "Help Tickets", :action => "help_tickets" }, ] |

#dashboard-tabs{ :class => "ui-tabs ui-widget ui-widget-content ui-corner-all" }
  %ul{ :class => "ui-tabs ui-widget ui-widget-content ui-corner-all ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header" }
    - menu.each do |item|
      - selection_style = "ui-tabs-selected ui-state-active" if item[:action] == controller.action_name
      %li{ :class => "#{selection_style} ui-state-default ui-corner-top" }
        = link_to item[:text], { :controller => "dashboard", :action => item[:action] }
