- unless @hide_getting_started
  #getting_started_dashboard_section
    %p
      Welcome to your Deltacloud dashboard where you can track your cloud resource
      usage. Here's what you need to know to get started
    %ul
      %li
        %img{:src => "images/getting_started_pools.png"}
        Deltacloud organizes your cloud machines in collections called pools
      %li
        %img{:src => "images/getting_started_accounts.png"}
        A pool can be connected to multiple <b>cloud provider accounts</b>
      %li
        %img{:src => "images/getting_started_pool_permissions.png"}
        You have one personal pool and you may have access to more shared pools
      %li
        %img{:src => "images/getting_started_check.png"}
        %p
          Ready to work in the cloud?</p>
        #getting_started_links
          %a{:class => "button_link", :href => url_for(:controller => :pool, :action => :show, :id => @current_users_pool.id)}
            Go to my personal pool
          %a{:href => url_for(:controller => :user, :action => :pools, :id => @current_user.id)}
            Show all my pools
    %p
      %input{ :id => "hide_getting_started", :type => "checkbox" }
        Thanks, don't show this again

#actions_dashboard_section
  %h2
    Actions
  - if @current_user.permissions.collect { |p| p.role }.find { |r| r.name == "Administrator" }
    %a{:href => url_for(:controller => "cloud_accounts", :action => "new")}
      Add a Provider Account
    %a{:href => url_for(:controller => "provider", :action => "new")}
      Add a Provider
    %a{:href => url_for(:controller => "", :action => "")}
      Create a Template
    %a{:href => url_for(:controller => "users", :action => "new")}
      Create a User
  - else
    %a{:href => url_for(:controller => "", :action => "")}
      Launch Instances
    %a{:href => url_for(:controller => "", :action => "")}
      Enter a help ticket

:javascript
  $("#hide_getting_started").click(function(){
    $('#getting_started_dashboard_section').hide();
    $.post("#{url_for(:action => 'hide_getting_started')}");
  });
