= error_messages_for 'account'
%h1 Create a new Pool
- form_for @pool, :url => resources_pools_path do |form|
  %h2 Pool
  %fieldset
    %label.grid_2.alpha Name:
    = form.text_field :name, :class => "grid_5"
    = form.error_message_on :name, 'Name '
    .clear.grid_14.prefix_2.alpha Provide a descriptive name for this pool.

  = submit_tag "Save", :class => "submit formbutton"
