%h3
  = @hardware_profile.name + "(" + (@hardware_profile.provider_id.nil? ? "Front End" : "Provider" ) + ")"
  = link_to 'Edit', edit_hardware_profile_path(@hardware_profile), :class => 'button'
%table
  = sortable_table_header @properties_header
  - @hwp_properties.each do |hwpp|
    %tr
      %td
        =hwpp.name.nil? ? "n/a" : hwpp.name
      %td
        =hwpp.unit.nil? ? "n/a" : hwpp.unit
      %td
        =hwpp.value.nil? ? "n/a" : hwpp.value
