%header.page-header
  %h1{:class => controller.controller_name} Hardware Profiles
  #obj_actions.button-group
    = link_to 'New Hardware Profile', new_hardware_profile_url, :class => 'button primary', :id => 'new_hardware_profile_button'
  .corner &nbsp;
