%header.admin-page-header
  %h1{:class => controller.controller_name}=t'hardware_profiles.hardware_profiles'
  #obj_actions.button-group
    = link_to t('hardware_profiles.list.new_hardware'), new_hardware_profile_url, :class => 'button primary', :id => 'new_hardware_profile_button'
