%header.page-header
  .obj_actions
    = link_to t('hardware_profiles.list.new_hardware'), new_hardware_profile_url, :class => 'button primary', :id => 'new_hardware_profile_button'
  %h1.hardware_profiles=t'hardware_profiles.hardware_profiles'
