- content_for :list do
  %h3
    Edit Hardware Profile
  -form_for @hardware_profile, :url => admin_hardware_profile_path(@hardware_profile), :html => { :multipart => true } do |hwp_form|
    = render :partial => "form", :locals => { :hwp_form => hwp_form }
- content_for :details do
  = render :partial => 'layouts/details_pane'
