- menu = [                                                                        |
  { :id => 'new', :text => 'BASICS', :description => 'Basic RHEL LAMP' },         |
  { :id => 'services', :text => 'SERVICES', :description => 'Add services' },     |
  { :id => 'software', :text => 'SOFTWARE', :description => 'Add software' },     |
  { :id => 'summary', :text => 'SUMMARY', :description => 'Create images' },      |
]                                                                                 |

#image_descriptor_nav
  %h2 Create a New Template Master
  %ul{:class => 'nav'}
    - menu.each do |item|
      %li{:class => controller.action_name == item[:id] ? 'selected' : nil}
        %h4
          = item[:text]
        %p
          = item[:description]
