#image_target_list{:class => 'target_list'}
  - if @image_descriptor.image_descriptor_targets.empty?
    .empty No images have been created yet.
  -else
    %ul
      - @image_descriptor.image_descriptor_targets.each do |target|
        %li
          %span{:class => 'actions'}
            &nbsp;
            - if ImageDescriptorTarget::ACTIVE_STATES.include?(target.status)
              = link_to 'Cancel', {:controller => 'image_descriptor_target', :action => 'cancel', :id => target.id, :descriptor_id => @image_descriptor.id}
          %span{:class => 'status'}
            = target.status
          = @all_targets[target.name]['name']
          %p
            = target.created_at
          //%span{:style => 'float:right'}
          //  Cancel
