&nbsp
%div.catalog_list
  %ul.more
    - if catalogs.empty?
      %li.catalog
        %a= _("-- No Catalogs --")
    - else
      - catalogs.each do |catalog|
        %li.catalog= link_to catalog.name, launch_from_catalog_deployments_path(:catalog_id => catalog.id)
