- content_for :error_messages do
  .error.flash-group
    .flash-subset
      %div.heading
        =image_tag 'flash_warning_icon.png', :alt => 'Errors'
      %ul.flashes
        %li
          %strong= pluralize(object.errors.count, "error") + " prohibited this record from being saved:"
        - object.errors.full_messages.each do |msg|
          %li= msg
