<% cur_id = params[:id].to_i %>

<h3>Pools</h3>
<ul id="pools">
  <% if !@pools.nil? %>
  <% @pools.each { |pool| %>
  <% if controller.controller_name == "pools" && pool.id == cur_id
    selected_pool = "selected"
  else selected_pool = ""
  end %>
  <li><%= link_to  pool.name,
    {:controller => "pools", :action => "show", :id => pool},
     :class => "poolname #{selected_pool}" %></li>
  <% } %>
  <% end %>
</ul>
<% if check_privilege(Privilege::CREATE, Pool, BasePermissionObject.general_permission_scope) %>
    <%= link_to "Add a pool", {:controller => "pools", :action => "new"}, :class => "actionlink" %>
<% end %>
