- unless @read_breadcrumbs.blank?
  %nav#nav_history
    %span.label.light.small
      &laquo;
      =_("Return to:")
    %ol.nav_hist_bar
      - @read_breadcrumbs.each do |breadcrumb|
        %li{:class => breadcrumb[:class]}
          = link_to breadcrumb[:name].titleize, breadcrumb[:path], :id => "#{breadcrumb[:class]}_breadcrumb"
