= link_to "Pretty View", pretty_link, :id => 'pretty_view', :class => (filter_view? ? '' : 'active')
= link_to "Filter View", filter_link, :id => 'filter_view', :class => (filter_view? ? 'active' : '')