- content_for :error_messages do
  .flash_hud
    %a.control{ :href => "#", :title => _('Close') }
    %ul.flash_messages.error
      %li= _('Some errors prevented the %s from being saved. Please review the problems below.') % object.class.model_name.human
