- content_for :error_messages do
  .flash_hud
    %a.control{ :href => "#", :title => t("close") }
    %ul.flash_messages.error
      %li= t("simple_form.error_notification.default_message", :model => object.class.model_name.human)
