%section.content-section
  %header#tab-container-1
    %nav.faceted
      %ul#tab-container-1-nav
        - @tabs.each do |tab|
          %li
            %a{ :href => url_for(:details_tab => tab[:id], :view => "filter", :only_tab => true), :id => "details_#{tab[:id]}", :class => "#{'active' if @details_tab[:id] == tab[:id]}"}
              = tab[:name]
    .section-controls
      -#%a.collapse{'href'=>'#'} Collapse
  .content.collapsible#tab
    = render :partial => @details_tab[:view]
