!!! 5
%html{"xml:lang" => "en", :lang => "en"}
  %head
    %meta{:charset => 'utf-8'}/
    %title Layout Example
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/960.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/buttons.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/layout.css'}/
    /[if lt IE 9]
      %script{:src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
      %link{:rel => 'stylesheet', :type => 'text/css', :href => '/layout_ie.css'}/
  %body
    #primary-container

      %header#masthead
        .container
          %img#logo{:src => '/images/upstream-logo.png'}
          %nav#system
            %ul
              %li.account
                %span.name.label.strong.small-caps Andy Smith
                %a.button.pill.user-dropdown{:href => '#'} &nbsp;
              %li.separator
              %li
                %div.query-input
                  -# Using verbatim HTML because CSS inline-block requires it.
                  != "<input type='text' placeholder='Search...' /><input type='submit' value='search' />"

      %nav#primary
        %ul.container
          %li
            %a{:href => '#'} Design &amp; Deploy
          %li.active
            %a{:href => '#'} Monitor
          %li
            %a{:href => '#'} Administer

      #content
        -# works with any 960 container (.container_16 or .container_24)
        = render :partial => 'layouts/breadcrumbs'
        Yield view here.

    %footer.standard
      .container
        %img.logo{:src => '/images/footer-rhlogo.png'}
        %nav.footer
          %a{:href => '#'} Disclaimer
          %a{:href => '#'} Terms of Use
          %a{:href => '#'} Support
        %span.copyright Copyright &copy; 2011 Red Hat, Inc. All Rights Reserved.
