- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $("#dashboard-tabs > ul > li > a").each(function(index) {
        var link = $(this).attr("href") + "?ajax=true";
        $(this).attr("href", link);
      });
      $("#dashboard-tabs").tabs();

      // when JS is enabled, hide the Dashboard content -- it'll be loaded
      // by jquery UI tab using ajax
      $("#dashboard-content").hide();
    });
- content_for :content do
  = render :partial => 'dashboard_nav'
  #dashboard-content
    = yield
= render :file => 'layouts/aggregator'
