%table
  %thead
    %tr
      %th.show
        Properties for
        = @suggested_deployable.name
      %th.show
  %tbody
    %tr
      %td
        %label{:name => 'name'} Name:
      %td
        = @suggested_deployable.name
    %tr
      %td
        %label{:name => 'description'} Description:
      %td
        = @suggested_deployable.description
    %tr
      %td
        %label{:name => 'url'} URL:
      %td
        = @suggested_deployable.url
