%header.page-header
  %h1{:class => controller.controller_name} Deployables
  #obj_actions.button-group
    = link_to 'New Deployable', new_suggested_deployable_url, :class => 'button primary', :id => 'new_deployable_button'
  .corner &nbsp;
