%header.page-header
  %h1{:class => controller.controller_name}= @suggested_deployable.name
  #obj_actions.button-container
    = link_to 'New Deployable', new_suggested_deployable_url, :class => 'button primary', :id => 'new_deployable_button'
    .button-group
      = link_to 'Cancel Editing', suggested_deployables_path(@user), :class => 'button pill danger', :id => 'new_deployable_button'
  .corner &nbsp;

%section.content-section.user
  %header
    %h2 Editing Deployable

  .content
    - form_for @suggested_deployable, :url => suggested_deployable_path(@suggested_deployable), :html => { :method => :put } do |f|
      = render :partial => "form", :locals => { :form => f }
