= render :partial => 'layouts/admin_header'
= render :partial => 'section_header'

%section.content-section.provider_accounts
  %header
    %h2 Add New Deployable

  .content
    = form_for @suggested_deployable, :url => suggested_deployables_path, :html => {:class => 'generic'} do |f|
      = render :partial => "form", :locals => { :form => f }
