!!! XML
%provider_accounts
  - provider_accounts.each do |provider_account|
    =render 'detail', :provider_account => provider_account, :with_credentials => with_credentials, :with_quota => with_quota
