%table
  %thead
    %tr
      %th.show
        Properties for
        = @provider_account.name
      %th.show
  %tbody
    %tr
      %td
        %label Running instances quota:
      %td
        = @provider_account.quota.maximum_running_instances or 'unlimited'
    - if @account_id
      %tr
        %td
          = label_tag "Account number:"
        %td
          = @account_id
