= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    = link_to _("New Provider Account"), new_provider_account_url, :class => 'button primary', :id => 'new_provider_account_button'
  %h1.provider_accounts= _("Provider Accounts")
= render :partial => 'list'
