= render :partial => 'layouts/admin_nav'
= render :partial => 'section_header'

%section.content-section.provider_accounts
  %header
    %h2 New Provider Account

  .content
    - unless @providers.empty?
      = form_for(@provider_account, :url => provider_accounts_path, :html => {:multipart => true, :class => 'generic'})  do |f|
        = render :partial => "form", :locals => { :form => f }
