= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1 New Provider Account
  #obj_actions
    Return to:
    = link_to "Cloud Providers", edit_provider_path(@selected_provider, :view => 'filter', :details_tab => 'connectivity'), :class => 'rounded-link'

%section.admin-content-section.provider_accounts
  .content
    - unless @providers.empty?
      = form_for([@provider, @provider_account], :url => provider_accounts_path, :html => {:multipart => true, :class => 'generic'})  do |f|
        = render :partial => "form", :locals => { :form => f }
