<li>
  <div class="summary">
    <div class="info">
      <h2>{{deltacloud_driver}}</h2>
      <span>{{provider_name}}</span>
      |
      <span>{{provider_account_label}}</span>
    </div>
    <div class="controls">
      <div class="build_status">
        <span>{{translated_build_status}}</span>
        <div class="build_status_icon {{build_status}}"></div>
      </div>
    </div>
  </div>
</li>
