!!! XML
%deployable{:id => deployable.id, :href => api_deployable_url(deployable)}
  %name= deployable.name
  %description= deployable.description
  %xml= raw deployable.xml
  %xml_filename= deployable.xml_filename
  %catalog{:id => catalog.id, :href => api_catalog_url(catalog)}
  %pool_family{:id => deployable.pool_family.id,
  :href => api_pool_family_url(deployable.pool_family)}
  %images
    - images.each do |image|
      %image{:id => image.id, :href => tim.base_image_url(image.id)}
